@model Com.BudgetMetal.ViewModels.Rfq.VmRfqItem
@{
    ViewData["Title"] = "Create";
}
<form asp-controller="Rfq" asp-action="Create" method="post" enctype="multipart/form-data" id="frmCreateRFQ">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="block-header">
        <h2>Prepare Request for Quotation</h2>
    </div>
    <!-- Input -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        General Information
                    </h2>
                </div>
                <div class="body">

                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <label for="quote_no">RFQ Reference</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" asp-for="Document.DocumentNo" readonly class="form-control" placeholder="<Auto Generate by System>">
                                    <input type="hidden" asp-for="Document.DocumentStatus_Id" value="@(Com.BudgetMetal.Common.Constants_CodeTable.Code_RFQ_Draft)">
                                    <input type="hidden" asp-for="Document.DocumentType_Id" value="@(Com.BudgetMetal.Common.Constants_CodeTable.Code_RFQ)">
                                    <input type="hidden" asp-for="Document.Company_Id" value="@ViewBag.Company_Id">
                                    <input type="hidden" asp-for="Document.CreatedBy" value="@ViewBag.UserName">
                                    <input type="hidden" asp-for="Document.UpdatedBy" value="@ViewBag.UserName">
                                    <input type="hidden" asp-for="CreatedBy" value="@ViewBag.UserName">
                                    <input type="hidden" asp-for="UpdatedBy" value="@ViewBag.UserName">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="quote_no">Title</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" asp-for="Document.Title" class="form-control" placeholder="Project Title" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="status">Status</label>
                            <h4><span class="label label-info">New</span></h4>
                        </div>
                        <div class="col-sm-6">
                            <label for="quote_no">Internal Reference No</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" asp-for="InternalRefrenceNo" class="form-control" placeholder="Internal Reference">
                                    <span asp-validation-for="InternalRefrenceNo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="quote_no">Internal Project Name</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" asp-for="InternalProjectName" class="form-control" placeholder="Internal Project Name">
                                    <span asp-validation-for="InternalProjectName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- #END# Input -->
    <!-- Tabs -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#basic_requirements" data-toggle="tab">Info</a></li>
                        <li role="presentation"><a href="#detailed_requirements" data-toggle="tab">Requirements</a></li>
                        <li role="presentation"><a href="#service_level_agreement" data-toggle="tab">SLA</a></li>
                        <li role="presentation"><a href="#penalty" data-toggle="tab">Commercial terms</a></li>
                        <li role="presentation"><a href="#pricing" data-toggle="tab">Pricing Table</a></li>
                        <li role="presentation"><a href="#attachments" data-toggle="tab">Attachments</a></li>
                        <li role="presentation"><a href="#settings" data-toggle="tab">Roles</a></li>
                        <li role="presentation"><a href="#invited_suppliers" data-toggle="tab">Invite Suppliers</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="basic_requirements">
                            <div class="row clearfix">
                                <div class="col-sm-3">
                                    <label for="StartRfqdate">Start RFQ Date</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="StartRfqdate" class="form-control datepicker" placeholder="Start RFQ Date">
                                            <span asp-validation-for="StartRfqdate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="ValidRfqdate">Valid RFQ Date</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="ValidRfqdate" class="form-control datepicker" placeholder="End RFQ Date">
                                            <span asp-validation-for="ValidRfqdate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="quote_no">Estimated Project Start Date</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="EstimatedProjectStartDate" class="form-control datepicker" placeholder="Start of Project Delivery">
                                            <span asp-validation-for="EstimatedProjectStartDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="EstimatedProjectEndDate">Estimated Project End Date</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="EstimatedProjectEndDate" class="form-control datepicker" placeholder="End of Project Delivery">
                                            <span asp-validation-for="EstimatedProjectEndDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <label for="QuotationOpeningDate">Quotation Opening Date</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="QuotationOpeningDate" class="form-control datepicker" placeholder="Quotation Opening Date">
                                            <span asp-validation-for="QuotationOpeningDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <label for="quote_no">Contract Value</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="ContractValue" class="form-control" placeholder="Contract Value">
                                            <span asp-validation-for="ContractValue" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-3">
                                    <input type="checkbox" asp-for="IsPublic" class="chk-col-red" />
                                    <label for="IsPublic">Public</label>
                                </div>
                                <div class="col-sm-3">
                                    <input type="checkbox" asp-for="SupplierProvideInstallationService" class="chk-col-red" />
                                    <label for="SupplierProvideInstallationService">Supplier Provide Installation Service</label>
                                </div>
                                <div class="col-sm-6">
                                    &nbsp;
                                </div>

                                <div class="col-sm-12">
                                    <label for="quote_no">Messages to Suppliers</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea rows="3" asp-for="MessageToSupplier" class="form-control no-resize" placeholder="Messages to Suppliers"></textarea>
                                            <span asp-validation-for="MessageToSupplier" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <span class="text-warning">Click <a href='@Url.Action("DownloadExcelTemplate","Rfq")'>Here</a> to Download Template</span><br /><br />
                                    <label>Upload Template</label>
                                    <input type="file" name="fUpload" id="fUpload" value="" class="form-control" /> 
                                    <br />
                                    <button type="button" class="btn btn-success" id="btnUploadFile">Upload Template</button>
                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="detailed_requirements">
                            <input type="hidden" id="detailRequirementLastId" value="1" />
                            <table id="requirementsTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="30%">Service Name</th>
                                        <th width="50%">Description</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="requirementsTableBody">
                                    <tr>
                                        <td><input type="text" asp-for="Requirement[0].ServiceName" class="form-control" /></td>
                                        <td><input type="text" asp-for="Requirement[0].Description" class="form-control" /></td>
                                        <td><button type="button" class="btn btn-danger waves-effect" onclick='RemoveRequirementRow(this)'>Remove</button></td>
                                    </tr>
                                </tbody>

                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnNewRequirement"> Add Requirement </a>
                                </div>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="service_level_agreement">
                            <input type="hidden" id="detailSLALastId" value="1" />
                            <table id="slaTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="30%">Requirement</th>
                                        <th width="65%">Description</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="slaTableBody">
                                    <tr>
                                        <td><input type="text" asp-for="Sla[0].Requirement" class="form-control" /></td>
                                        <td><input type="text" asp-for="Sla[0].Description" class="form-control" /></td>
                                        <td><button type="button" class="btn btn-danger waves-effect" onclick='RemoveSLARow(this)'>Remove</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnNewSLA"> Add SLA </a>
                                </div>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="penalty">
                            <input type="hidden" id="PenaltyLastId" value="1" />
                            <table id="penaltyTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="30%">Phase(s)</th>
                                        <th width="20%">Milestone(s)</th>
                                        <th width="45%">Commercial term and description</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="penaltyTableBody">
                                    <tr>
                                        <td><input type="text" asp-for="Penalty[0].BreachOfServiceDefinition" class="form-control" /></td>
                                        <td><input type="text" asp-for="Penalty[0].PenaltyAmount" class="form-control" /></td>
                                        <td><input type="text" asp-for="Penalty[0].Description" class="form-control" /></td>
                                        <td><button type="button" class="btn btn-danger waves-effect" onclick='RemovePenaltyRow(this)'>Remove</button></td>
                                    </tr>
                                </tbody>

                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnNewPenalty"> Add Terms </a>
                                </div>

                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade in" id="pricing">
                            <input type="hidden" id="PricingLastId" value="1" />
                            <table id="pricingTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="25%">Item Name</th>
                                        <th width="35%">Item Description</th>
                                        <th width="20%">Internal Reference Code</th>
                                        <th width="10%">Quantity</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="pricingTableBody">
                                    <tr>
                                        <td><input type="text" asp-for="RfqPriceSchedule[0].ItemName" class="form-control" /></td>
                                        <td><input type="text" asp-for="RfqPriceSchedule[0].ItemDescription" class="form-control" /></td>
                                        <td><input type="text" asp-for="RfqPriceSchedule[0].InternalRefrenceCode" class="form-control" /></td>
                                        <td><input type="text" asp-for="RfqPriceSchedule[0].QuantityRequired" class="form-control" /></td>
                                        <td><button type="button" class="btn btn-danger waves-effect" onclick='RemovePricingRow(this)'>Remove</button></td>
                                    </tr>
                                </tbody>

                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnNewPricing"> Add Item </a>
                                </div>

                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="invited_suppliers">
                            <div class="row">
                                <div class="col-sm-3">
                                    <select id="ddlIndustry" class="form-control selectpicker"></select>
                                    <input type="hidden" asp-for="IndustryOfRfq" id="hdIndustry" />
                                </div>
                                <div class="col-sm-8">
                                    <select asp-for="SelectedTags" class="form-control show-tick" id="ddlServiceTags" data-live-search="true" multiple></select>
                                </div>
                                <div class="col-sm-1">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" name="txtSearchSupplier" id="txtSearchSupplier" class="form-control" placeholder="Supplier Name, UEN">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <a class="btn btn-success" id="btnLoadSupplier">Search Supplier</a>
                                </div>
                            </div>
                            <table id="invitedSupplierTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="95%">Supplier Information</th>
                                        <th width="*">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div class="row">
                                <div class="pagination" style="padding:10px;">

                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="attachments">

                            <table id="attachmentTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="25%">File Name</th>
                                        <th width="70%">Description</th>
                                        <th width="*">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnNewFile"> Add Attachement </a>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="settings">
                            <div class="row">
                                <div class="col-sm-5">
                                    <select id="ddlUser" class="form-control selectpicker"></select>
                                </div>
                                <div class="col-sm-5">
                                    <select class="form-control show-tick" id="ddlRole" data-live-search="true" multiple></select>
                                </div>
                                <div class="col-sm-2">
                                    <a id="btnAddUser" class="btn btn-success">Add Role</a>
                                </div>
                            </div>

                            <table id="userSettingTable" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th width="95%">Accessible User(s)</th>
                                        <th width="*">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="hidden" name="documentUserId[]" value="@ViewBag.User_Id" />
                                            <h5> @ViewBag.FullName </h5>
                                            <input type="hidden" name="documentUserRole[]" value="3" />
                                            <span class="label bg-deep-purple">RFQ Creator</span>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div id="rfq_Email_Invites">
                                <input type="hidden" id="detailEmalsInviteLastId" value="1" />
                                <table id="reqEmailInvitesTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th width="30%">Name</th>
                                            <th width="50%">Email Address</th>
                                            @*<th width="50%">AccessCode</th>*@
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody id="rfqEmailInvites">
                                        <tr>
                                            <td><input type="text" asp-for="RfqEmailInvites[0].Name" class="form-control" /></td>
                                            <td><input type="text" asp-for="RfqEmailInvites[0].EmailAddress" class="form-control" /></td>
                                            @*<td><input type="text" asp-for="RfqEmailInvites[0].AccessCode" class="form-control" /></td>*@
                                            <td><button type="button" class="btn btn-danger waves-effect" onclick='RemoveRfqEmailInvites(this)'>Remove</button></td>
                                        </tr>
                                    </tbody>

                                </table>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <a class="btn btn-success" id="btnRfqEmailsInvites"> New Email Invite </a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <input type="hidden" name="btnType" id="btnType" value="" />
                    <button type="button" id="btnDraft" class="btn btn-info btn-lg">Draft</button>
                    <button type="button" id="btnSubmit" class="btn btn-primary  btn-lg">Submit</button>
                    <button type="button" onclick='window.location.href = "@Url.Action("Index", "Rfq")";' class="btn btn-default  btn-lg">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</form>

<!-- Editable Table Plugin Js
<script src="~/material_theme/plugins/editable-table/mindmup-editabletable.js"></script>
<script src="~/material_theme/js/pages/tables/editable-table.js"></script>-->
<!-- Moment Plugin Js -->
<script src="~/material_theme/plugins/momentjs/moment.js"></script>
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="~/material_theme/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<!-- Input Mask Plugin Js -->
<script src="~/material_theme/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
<!-- Autosize Plugin Js -->
<script src="~/material_theme/plugins/autosize/autosize.js"></script>
<!-- Custom Js -->
<script src="~/material_theme/js/pages/forms/basic-form-elements.js"></script>
<!-- Dropzone Css -->
<link href="~/material_theme/plugins/dropzone/dropzone.css" rel="stylesheet">
<!-- Dropzone Plugin Js -->
<script src="~/material_theme/plugins/dropzone/dropzone.js"></script>
<!-- Bootstrap Colorpicker Js -->
<script src="~/material_theme/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

<!-- Select Plugin Js -->
<script src="~/material_theme/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Multi Select Plugin Js -->
<script src="~/material_theme/plugins/multi-select/js/jquery.multi-select.js"></script>


<script>
    $(function () {
        loadIndustry();
        loadUser();
        loadRole();

        
       
        $('#ValidRfqdate').bootstrapMaterialDatePicker('setMinDate', moment());
        $('#StartRfqdate').bootstrapMaterialDatePicker('setMinDate', moment()).on('change', function (e, date) {
            $('#ValidRfqdate').bootstrapMaterialDatePicker('setMinDate', date);
        });

        $('#EstimatedProjectEndDate').bootstrapMaterialDatePicker('setMinDate', moment());
        $('#EstimatedProjectStartDate').bootstrapMaterialDatePicker('setMinDate', moment()).on('change', function (e, date) {
            $('#EstimatedProjectEndDate').bootstrapMaterialDatePicker('setMinDate', date);
        });


    });



    $("#btnSubmit").click(function () {
        $("#btnType").val("submit");
        SaveForm();
    });

    $("#btnDraft").click(function () {
        $("#btnType").val("draft");
        SaveForm();
    });

    function SaveForm() {

        var isValid = true;

        //$("form#frmCreateRFQ :input[type=text]").each(function () {
        //    var input = $(this);
        //    if (input.val() == "") {
        //        isValid = false;
        //    }
        //});

        isValid = $("form#frmCreateRFQ").valid();
        if (isValid) {
            var haveInvitedSupplier = false;
            $('input:checkbox.supplier').each(function () {
                var sThisVal = (this.checked ? $(this).val() : "");
                if (sThisVal != "") {
                    haveInvitedSupplier = true;
                }
            });

            if (haveInvitedSupplier) {
                $('.page-loader-wrapper').fadeIn();
                $("#frmCreateRFQ").submit();
            } else {
                alert("Please invite at least one supplier.");
            }
        } else {
            alert("Please fill all fields!")
        }
    }



    function loadUser() {
        var ajaxurl = '@Url.Action("GetActiveUserByCompany", "Rfq")';

        $('#ddlUser').append($('<option>', {
            value: 0,
            text: '--Select User--'
        }));

        $.ajax({
            url: ajaxurl,
            data: { CompanyId: @ViewBag.Company_Id },
            dataType: 'json',
            success: function (response) {
                //console.log(response);
                var obj = response;
                for (var k in obj) {
                    var item = obj[k];
                    $('#ddlUser').append($('<option>', {
                        value: item.Id,
                        text: item.ContactName
                    }));
                }
                $("#ddlUser").selectpicker('refresh');

            },
            error: function (response) {
                alert(response)
            }

        });
    }

    $("#btnAddUser").click(function () {
        var userId = $("#ddlUser").val();
        var userName = $("#ddlUser option:selected").text();
        var roleId = $("#ddlRole").val();

        if (userId == 0 ) {
            alert("Please select the user");
        } else {
            var isExistingUser = false;
            $('#userSettingTable > tbody  > tr > td > input[name="documentUserId[]"]').each(function () {
                if (userId == $(this).val()) {
                    alert("User is already exist in list.");
                    isExistingUser = true;
                }
            });
            if (isExistingUser == false) {
                if (roleId == null) {
                    alert("Please select the role(s)");
                } else {
                    var tmptag = "<tr><td>" +
                        "<input type='hidden' name='documentUserId[]' value='" + userId + "' />" +
                        "<h5> " + userName + " </h5>" +
                        "<input type='hidden' name='documentUserRole[]' value='" + roleId + "' />";
                    $("#ddlRole option:selected").each(function () {
                        var $this = $(this);
                        if ($this.length) {
                            var selText = $this.text();
                            tmptag = tmptag + "<span class='label bg-deep-purple'> " + selText +" </span>&nbsp;  ";
                        }
                    });
                    tmptag = tmptag + "</td><td><button type='button' class='btn btn-danger waves-effect'  onclick='RemoveUserRow(this)'>Remove</button></td>";
                    tmptag = tmptag + "</tr>";
                    $("#userSettingTable > tbody").append(tmptag);
                    $("#ddlUser").val(0);
                    $("#ddlUser").selectpicker('refresh');
                    $("#ddlRole").val(0);
                    $("#ddlRole").selectpicker('refresh');
                }
            }
        }
    });

    function RemoveUserRow(item) {
        $(item).parent().parent().remove();
    }

    function loadRole() {
        var ajaxurl = '@Url.Action("GetActiveRoles", "Rfq")';

         $.ajax({
            url: ajaxurl,
            dataType: 'json',
            success: function (response) {
                //console.log(response);
                var obj = response;
                for (var k in obj) {
                    var item = obj[k];
                    $('#ddlRole').append($('<option>', {
                        value: item.Id,
                        text: item.Name
                    }));

                }
                $("#ddlRole").selectpicker('refresh');

            },
            error: function (response) {
                alert(response)
            }

        });
    }

    $("#btnLoadSupplier").click(function () {
        $('#invitedSupplierTable > tbody').empty();
        loadSupplier(1);
    });

    function loadSupplier(page) {

     var serviceTagsId = $('#ddlServiceTags').val();
        var searchSupplier = $('#txtSearchSupplier').val();
     var stringServiceTagsId = serviceTagsId.toString();

     if (serviceTagsId == null) {
            alert("Please select the service tags!")
     } else {
         $('.page-loader-wrapper').fadeIn();
            var ajaxurl = '@Url.Action("GetSupplierByServiceTagsId", "Rfq")';
            $.ajax({
                url: ajaxurl,
                data: { serviceTagsId: stringServiceTagsId, page: page, searchKeyword: searchSupplier},
                dataType: 'json',
                success: function (response) {
                    var obj = response.Result.Records;
                    for (var k in obj) {
                        var item = obj[k];
                        var verifyBadge = "<span class='label label-danger'>Unverified</span>";
                        if (item.IsVerified) {
                            verifyBadge = "<span class='label label-success'>Verified</span>";
                        }
                        $('#invitedSupplierTable > tbody').append(
                            "<tr>" +
                            "<td> <h5>" + item.Name + "</h5>" + verifyBadge+
                            " <p class='m-t-15 m-b-30'>" + item.About + "</p></td>" +
                            "<td><input type='checkbox' class='filled-in supplier' id='chkSupplier_" + item.Id + "'  name='supplier_list' value='" + item.Id + "'> <button type='button' id='btnInvite_" + item.Id + "' class='btn btn-danger' onclick='checkSupplier(" + item.Id + ")'>Select</button></td>" +
                            "</tr>");


                    }
                    var totalpage = response.Result.TotalPage;
                    var currentpage = response.Result.CurrentPage;
                    if (totalpage > currentpage) {
                        $(".pagination").empty();
                        $(".pagination").append(" <a class='btn btn-md btn-default' OnClick='loadSupplier(" + response.Result.NextPage + ")'> Load More </a> ");
                    } else {
                        $(".pagination").empty();

                    }
                    $('.page-loader-wrapper').fadeOut();
                },
                error: function (response) {
                    alert(response);
                    $('.page-loader-wrapper').fadeOut();
                }
            });
     }

    }

    function checkSupplier(n) {

        if ($("#chkSupplier_" + n).prop("checked")) {

            $("#chkSupplier_" + n).prop("checked", false);
            $("#btnInvite_" + n).removeClass("btn btn-success").addClass("btn btn-danger");
            $("#btnInvite_" + n).text("Select");
        } else {
            $("#chkSupplier_" + n).prop("checked", true);
            $("#btnInvite_" + n).removeClass("btn btn-danger").addClass("btn btn-success");

            $("#btnInvite_" + n).text("Selected");
        }

    }
function loadIndustry() {
    var ajaxurl = '@Url.Action("GetActiveIndustries", "Rfq")';

    $('#ddlIndustry').append($('<option>', {
        value: 0,
        text: '--Select Industry--'
    }));

    $.ajax({
        url: ajaxurl,
        dataType: 'json',
        success: function (response) {
            //console.log(response);
            var obj = response;
            for (var k in obj) {
                var item = obj[k];
                $('#ddlIndustry').append($('<option>', {
                    value: item.Id,
                    text: item.Name
                }));
            }
            $("#ddlIndustry").selectpicker('refresh');

        },
        error: function (response) {
            alert(response)
        }

    });

    }

    $("#ddlIndustry").change(function () {
        var industryId = $('#ddlIndustry').val();

        loadServiceTags(industryId);
    });

    function loadServiceTags(industryId) {
        $('#ddlServiceTags').empty();
        if (industryId == "0") {

            $("#ddlServiceTags").selectpicker('refresh');
        } else {
            $('#hdIndustry').val($("#ddlIndustry option:selected").val());
            //alert($('#hdIndustry').val())
            var ajaxurl = '@Url.Action("GetServiceTagByIndustry", "Rfq")';

            $.ajax({
                url: ajaxurl,
                data: {Id: industryId},
                dataType: 'json',
                success: function (response) {
                    //console.log(response);
                    var obj = response;
                    for (var k in obj) {
                        var item = obj[k];
                        $('#ddlServiceTags').append($('<option>', {
                            value: item.Id,
                            text: item.Name
                        }));
                    }
                    $("#ddlServiceTags").selectpicker('refresh');
                },
                error: function (response) {
                    alert(response)
                }
            });
        }
    }

    $('#btnUploadFile').on('click', function () {
        var ajaxurl = '@Url.Action("UploadTemplate", "Rfq")';
        var fileExtension = ['xls', 'xlsx'];
        var filename = $('#fUpload').val();
        if (filename.length == 0) {
            alert("Please select a file.");
            return false;
        }
        else {
            var extension = filename.replace(/^.*\./, '');
            if ($.inArray(extension, fileExtension) == -1) {
                alert("Please select only excel files.");
                return false;
            }
        }
        var fdata = new FormData();
        var fileUpload = $("#fUpload").get(0);
        var files = fileUpload.files;
        fdata.append(files[0].name, files[0]);
        $.ajax({
            type: "POST",
            url: ajaxurl,
            data: fdata,
            contentType: false,
            processData: false,
            success: function (response) {

                console.log(response);

                if (response.List_Requirement.length > 0) {

                    $("#requirementsTableBody").empty();

                    for (var i = 0; i < response.List_Requirement.length; i++) {
                        $('#requirementsTableBody').append(
                            "<tr> " +
                                "<td>" + "<input type='text' name='Requirement[" + i + "].ServiceName' class='form-control' value='" + response.List_Requirement[i].ServiceName + "'/></td>" +
                                "<td>" + "<input type='text' name='Requirement[" + i + "].Description' class='form-control' value='" + response.List_Requirement[i].Description + "'/></td>" +
                                "<td><button type='button' class='btn btn-danger waves-effect' onclick='RemoveRequirementRow(this)'>Remove</button></td>" +
                             "<tr> "
                        );
                    }

                    $("#detailRequirementLastId").val(response.List_Requirement.length);
                    console.log(response.List_Requirement);

                }

                if (response.List_SLA.length > 0) {

                    $("#slaTableBody").empty();

                    for (var i = 0; i < response.List_SLA.length; i++) {
                        $('#slaTableBody').append(
                            "<tr> " +
                            "<td>" + "<input type='text' name='Sla[" + i + "].Requirement' class='form-control' value='" + response.List_SLA[i].Requirement + "'/></td>" +
                            "<td>" + "<input type='text' name='Sla[" + i + "].Description' class='form-control' value='" + response.List_SLA[i].Description + "'/></td>" +
                            "<td><button type='button' class='btn btn-danger waves-effect' onclick='RemoveSLARow(this)'>Remove</button></td>" +
                            "<tr> "
                        );
                    }
                    $("#detailSLALastId").val(response.List_SLA.length);
                    console.log(response.List_SLA);

                }

                if (response.List_Panalty.length > 0) {

                    $("#penaltyTableBody").empty();

                    for (var i = 0; i < response.List_Panalty.length; i++) {
                        $('#penaltyTableBody').append(
                            "<tr> " +
                            "<td>" + "<input type='text' name='Penalty[" + i + "].BreachOfServiceDefinition' class='form-control' value='" + response.List_Panalty[i].BreachOfServiceDefinition + "'/></td>" +
                            "<td>" + "<input type='text' name='Penalty[" + i + "].PenaltyAmount' class='form-control' value='" + response.List_Panalty[i].PenaltyAmount + "'/></td>" +
                            "<td>" + "<input type='text' name='Penalty[" + i + "].Description' class='form-control' value='" + response.List_Panalty[i].Description + "'/></td>" +
                            "<td><button type='button' class='btn btn-danger waves-effect' onclick='RemovePenaltyRow(this)'>Remove</button></td>" +
                            "<tr> "
                        );
                    }
                    $("#PenaltyLastId").val(response.List_Panalty.length);
                    console.log(response.List_Requirement);

                }

                if (response.List_Pricing.length > 0) {

                    $("#pricingTableBody").empty();

                    for (var i = 0; i < response.List_Pricing.length; i++) {
                        $('#pricingTableBody').append(
                            "<tr> " +
                            "<td>" + "<input type='text' name='RfqPriceSchedule[" + i + "].ItemName' class='form-control' value='" + response.List_Pricing[i].ItemName + "'/></td>" +
                            "<td>" + "<input type='text' name='RfqPriceSchedule[" + i + "].ItemDescription' class='form-control' value='" + response.List_Pricing[i].ItemDescription + "'/></td>" +
                            "<td>" + "<input type='text' name='RfqPriceSchedule[" + i + "].InternalRefrenceCode' class='form-control' value='" + response.List_Pricing[i].InternalRefrenceCode + "'/></td>" +
                            "<td>" + "<input type='text' name='RfqPriceSchedule[" + i + "].QuantityRequired' class='form-control' value='" + response.List_Pricing[i].QuantityRequired + "'/></td>" +
                            "<td><button type='button' class='btn btn-danger waves-effect' onclick='RemovePricingRow(this)'>Remove</button></td>" +
                            "<tr> "
                        );
                    }
                    $("#PricingLastId").val(response.List_Pricing.length);
                    console.log(response.List_Requirement);

                }
                alert("File upload success!");
            },
            error: function (e) {
                $('#dvData').html(e.responseText);
            }
        });
    })
</script>

<!-- Create RFQ Js -->
<script src="~/material_theme/js/RFQ/create.js"></script>

