@model Com.BudgetMetal.ViewModels.Rfq.VmRfqItem
@{
    ViewData["Title"] = "Create";
}
<form asp-controller="Rfq" asp-action="CreateTemplate" method="post" enctype="multipart/form-data" id="frmCreateRFQ">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="block-header">
        <h2>Prepare Request for Quotation</h2>
    </div>
    <!-- Input -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        General Information
                    </h2>
                </div>
                <div class="body">

                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <label for="quote_no">RFQ Reference</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" asp-for="Document.DocumentNo" readonly class="form-control" placeholder="<Auto Generate by System>">
                                    <input type="hidden" asp-for="Document.DocumentStatus_Id" value="@(Com.BudgetMetal.Common.Constants_CodeTable.Code_RFQ_Saved)">
                                    <input type="hidden" asp-for="Document.DocumentType_Id" value="@(Com.BudgetMetal.Common.Constants_CodeTable.Code_RFQTemplate)">
                                    <input type="hidden" asp-for="Document.Company_Id" value="@ViewBag.Company_Id">
                                    <input type="hidden" asp-for="Document.CreatedBy" value="@ViewBag.UserName">
                                    <input type="hidden" asp-for="Document.UpdatedBy" value="@ViewBag.UserName">
                                    <input type="hidden" asp-for="CreatedBy" value="@ViewBag.UserName">
                                    <input type="hidden" asp-for="UpdatedBy" value="@ViewBag.UserName">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="quote_no">Title</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" asp-for="Document.Title" class="form-control" placeholder="Project Title" />
                                    <span asp-validation-for="Document.Title" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="status">Status</label>
                            <h4><span class="label label-info">New</span></h4>
                        </div>
                        @*<div class="col-sm-6">
                            <label for="quote_no">Internal Reference No</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" asp-for="InternalRefrenceNo" class="form-control" placeholder="Internal Reference">
                                    <span asp-validation-for="InternalRefrenceNo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>*@
                        @*<div class="col-sm-6">
                            <label for="quote_no">Internal Project Name</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" asp-for="InternalProjectName" class="form-control" placeholder="Internal Project Name">
                                    <span asp-validation-for="InternalProjectName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>*@

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- #END# Input -->
    <!-- Tabs -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a id="infoTag" href="#basic_requirements" data-toggle="tab">Info</a></li>
                        <li role="presentation"><a href="#detailed_requirements" data-toggle="tab">Requirements</a></li>
                        <li role="presentation"><a href="#service_level_agreement" data-toggle="tab">Supports</a></li>
                        <li role="presentation"><a href="#penalty" data-toggle="tab">Commercials</a></li>
                        <li role="presentation"><a href="#pricing" data-toggle="tab">Pricing</a></li>
                        
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="basic_requirements">
                            <div class="row clearfix">
                                <div class="col-sm-3">
                                    <label for="StartRfqdate">Start RFQ Date</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="StartRfqdate" class="form-control datepicker"  placeholder="Start RFQ Date">
                                            <span asp-validation-for="StartRfqdate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="ValidRfqdate">Valid RFQ Date</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="ValidRfqdate" class="form-control datepicker"  placeholder="End RFQ Date">
                                            <span asp-validation-for="ValidRfqdate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="quote_no">Estimated Project Start Date</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="EstimatedProjectStartDate" class="form-control datepicker" placeholder="Start of Project Delivery">
                                            <span asp-validation-for="EstimatedProjectStartDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="EstimatedProjectEndDate">Estimated Project End Date</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="EstimatedProjectEndDate" class="form-control datepicker"  placeholder="End of Project Delivery">
                                            <span asp-validation-for="EstimatedProjectEndDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <label for="QuotationOpeningDate">Quotation Opening Date</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="QuotationOpeningDate" class="form-control datepicker"  placeholder="Quotation Opening Date">
                                            <span asp-validation-for="QuotationOpeningDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <label for="quote_no">Contract Value</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="ContractValue" class="form-control"  placeholder="Contract Value">
                                            <span asp-validation-for="ContractValue" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <input type="checkbox" asp-for="IsPublic" class="chk-col-red" />
                                    <label for="IsPublic">Public </label>
                                    <a href="#" data-toggle="modal" data-target="#publicModal"><span class="badge bg-light-blue">i</span></a>
                                </div>
                                <div class="col-sm-3">
                                    <input type="checkbox" asp-for="SupplierProvideInstallationService" class="chk-col-red" />
                                    <label for="SupplierProvideInstallationService">Supplier Provide Installation Service</label>
                                </div>
                                <div class="col-sm-6">
                                    &nbsp;
                                </div>

                                <div class="col-sm-12">
                                    <label for="quote_no">Messages to Suppliers</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea rows="3" asp-for="MessageToSupplier" class="form-control no-resize" placeholder="Messages to Suppliers"></textarea>
                                            <span asp-validation-for="MessageToSupplier" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <span class="text-warning">Click <a href='@Url.Action("DownloadExcelTemplate", "Rfq")'>Here</a> to Download Template</span>
                                    <a href="#" data-toggle="modal" data-target="#excelInfoModal"><span class="badge bg-light-blue">i</span></a><br /><br />
                                    <label>Upload Template</label>
                                    <input type="file" name="fUpload" id="fUpload" value="" class="form-control" />
                                    <br />
                                    <button type="button" class="btn btn-success" id="btnUploadFile">Upload Template</button>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade in" id="detailed_requirements">
                            <input type="hidden" id="detailRequirementLastId" value="1" />
                            <table id="requirementsTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%">Serial</th>
                                        <th width="40%">Service Name</th>
                                        <th width="50%">Description</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="requirementsTableBody">
                                    <tr>
                                        <td>1</td>
                                        <td><input type="text" asp-for="Requirement[0].ServiceName" class="form-control requirement" /></td>
                                        <td><input type="text" asp-for="Requirement[0].Description" class="form-control" /></td>
                                        <td><button type="button" class="btn btn-danger waves-effect" onclick='RemoveRequirementRow(this)'>Remove</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnNewRequirement"> New Requirement </a>
                                </div>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="service_level_agreement">
                            <input type="hidden" id="detailSLALastId" value="1" />
                            <table id="slaTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%">Serial</th>
                                        <th width="40%">Service Name</th>
                                        <th width="50%">Description</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="slaTableBody">
                                    <tr>
                                        <td>1</td>
                                        <td><input type="text" asp-for="Sla[0].Requirement" class="form-control support" /></td>
                                        <td><input type="text" asp-for="Sla[0].Description" class="form-control" /></td>
                                        <td><button type="button" class="btn btn-danger waves-effect" onclick='RemoveSLARow(this)'>Remove</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnNewSLA"> New Support </a>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="penalty">
                            <input type="hidden" id="PenaltyLastId" value="1" />
                            <table id="penaltyTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%">Serial</th>
                                        <th width="40%">Service Name</th>
                                        @*<th width="20%">Milestone(s)</th>*@
                                        <th width="50%">Description</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="penaltyTableBody">
                                    <tr>
                                        <td>1</td>
                                        <td><input type="text" asp-for="Penalty[0].BreachOfServiceDefinition" class="form-control commercial" /></td>
                                        @*<td><input type="text" asp-for="Penalty[0].PenaltyAmount" class="form-control" /></td>*@
                                        <td><input type="text" asp-for="Penalty[0].Description" class="form-control" /></td>
                                        <td><button type="button" class="btn btn-danger waves-effect" onclick='RemovePenaltyRow(this)'>Remove</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnNewPenalty">New Commercial </a>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade in" id="pricing">
                            <input type="hidden" id="PricingLastId" value="3" />
                            <table id="pricingTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%">Serial</th>
                                        <th width="30%">Item Name</th>
                                        <th width="40%">Item Description</th>
                                        @*<th width="20%">Internal Reference Code</th>*@
                                        <th width="15%">Quantity</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="pricingTableBody">
                                    <tr>
                                        <td>1</td>
                                        <td><input type="text" asp-for="RfqPriceSchedule[0].ItemName" class="form-control pricing" /></td>
                                        <td><input type="text" asp-for="RfqPriceSchedule[0].ItemDescription" class="form-control" /></td>
                                        @*<td><input type="text" asp-for="RfqPriceSchedule[0].InternalRefrenceCode" class="form-control" /></td>*@
                                        <td>
                                            <input type="text" asp-for="RfqPriceSchedule[0].QuantityRequired" class="form-control pricingQty" />
                                            <input type="hidden" asp-for="RfqPriceSchedule[0].CategoryId" value="@(Com.BudgetMetal.Common.Constants_CodeTable.Code_RfqPriceCategory_Product)" class="form-control" />
                                        </td>

                                        <td><button type="button" class="btn btn-danger waves-effect" onclick='RemovePricingRow(this)'>Remove</button></td>
                                    </tr>
                                </tbody>

                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnNewPricing"> Add Product Pricing  </a>
                                </div>
                            </div>

                            @*<input type="hidden" id="PricingServiceLastId" value="1" />*@
                            <table id="pricingServiceTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%">Serial</th>
                                        <th width="30%">Item Name</th>
                                        <th width="40%">Item Description</th>
                                        @*<th width="20%">Internal Reference Code</th>*@
                                        <th width="15%">Quantity</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="pricingServiceTableBody">
                                    <tr>
                                        <td>1</td>
                                        <td><input type="text" asp-for="RfqPriceSchedule[1].ItemName" class="form-control" /></td>
                                        <td><input type="text" asp-for="RfqPriceSchedule[1].ItemDescription" class="form-control" /></td>
                                        @*<td><input type="text" asp-for="RfqPriceSchedule[1].InternalRefrenceCode" class="form-control" /></td>*@
                                        <td>
                                            <input type="text" asp-for="RfqPriceSchedule[1].QuantityRequired" class="form-control pricingQty" />
                                            <input type="hidden" asp-for="RfqPriceSchedule[1].CategoryId" value="@(Com.BudgetMetal.Common.Constants_CodeTable.Code_RfqPriceCategory_Service)" class="form-control" />
                                        </td>
                                        <td><button type="button" class="btn btn-danger waves-effect" onclick='RemovePricingRow(this)'>Remove</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnServicePricing"> Add Service Pricing </a>
                                </div>
                            </div>

                            <table id="pricingWarrantyTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%">Serial</th>
                                        <th width="30%">Item Name</th>
                                        <th width="40%">Item Description</th>
                                        @*<th width="20%">Internal Reference Code</th>*@
                                        <th width="15%">Quantity</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="pricingWarrantyTableBody">
                                    <tr>
                                        <td>1</td>
                                        <td><input type="text" asp-for="RfqPriceSchedule[2].ItemName" class="form-control" /></td>
                                        <td><input type="text" asp-for="RfqPriceSchedule[2].ItemDescription" class="form-control" /></td>
                                        @*<td><input type="text" asp-for="RfqPriceSchedule[2].InternalRefrenceCode" class="form-control" /></td>*@
                                        <td>
                                            <input type="text" asp-for="RfqPriceSchedule[2].QuantityRequired" class="form-control pricingQty" />
                                            <input type="hidden" asp-for="RfqPriceSchedule[2].CategoryId" value="@(Com.BudgetMetal.Common.Constants_CodeTable.Code_RfqPriceCategory_Warranty)" class="form-control" />
                                        </td>
                                        <td><button type="button" class="btn btn-danger waves-effect" onclick='RemovePricingRow(this)'>Remove</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnWarrantyPricing"> Add Warranty Pricing </a>
                                </div>
                            </div>
                        </div>

                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <input type="hidden" name="btnType" id="btnType" value="" />
                    <button type="button" id="btnDraft" class="btn btn-info btn-lg">Save</button>
                    <button type="button" onclick='window.location.href = "@Url.Action("Index", "Rfq")";' class="btn btn-default  btn-lg">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="publicModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Public</h4>
            </div>
            <div class="modal-body">
                By checking Public, your tender will be published in our TenderBoard public domain. Any supplier who accesses the public portal will be able to review your requirements and submit a proposal for your review.
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="excelInfoModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Excel Template</h4>
            </div>
            <div class="modal-body">
                By downloading the excel template, you can fill up the excel Template with your requirements (Products/Solutions, Support/Services and Commercial Terms) and upload your filled Template to be updated on this RFQ.
            </div>
        </div>
    </div>
</div>
<!-- Editable Table Plugin Js
<script src="~/material_theme/plugins/editable-table/mindmup-editabletable.js"></script>
<script src="~/material_theme/js/pages/tables/editable-table.js"></script>-->
<!-- Moment Plugin Js -->
<script src="~/material_theme/plugins/momentjs/moment.js"></script>
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="~/material_theme/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<!-- Input Mask Plugin Js -->
<script src="~/material_theme/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
<!-- Autosize Plugin Js -->
<script src="~/material_theme/plugins/autosize/autosize.js"></script>
<!-- Custom Js -->
<script src="~/material_theme/js/pages/forms/basic-form-elements.js"></script>
<!-- Dropzone Css -->
<link href="~/material_theme/plugins/dropzone/dropzone.css" rel="stylesheet">
<!-- Dropzone Plugin Js -->
<script src="~/material_theme/plugins/dropzone/dropzone.js"></script>
<!-- Bootstrap Colorpicker Js -->
<script src="~/material_theme/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

<!-- Select Plugin Js -->
<script src="~/material_theme/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Multi Select Plugin Js -->
<script src="~/material_theme/plugins/multi-select/js/jquery.multi-select.js"></script>


<script>
    $(function () {
       
        
        $('#ValidRfqdate').bootstrapMaterialDatePicker('setMinDate', moment());
        $('#StartRfqdate').bootstrapMaterialDatePicker('setMinDate', moment()).on('change', function (e, date) {
            $('#ValidRfqdate').bootstrapMaterialDatePicker('setMinDate', date);
        });

        $('#EstimatedProjectEndDate').bootstrapMaterialDatePicker('setMinDate', moment());
        $('#EstimatedProjectStartDate').bootstrapMaterialDatePicker('setMinDate', moment()).on('change', function (e, date) {
            $('#EstimatedProjectEndDate').bootstrapMaterialDatePicker('setMinDate', date);
        });


    });



 

    $("#btnDraft").click(function () {
        SaveForm();
    });

    function SaveForm() {
        //alert("Start save!")
        $("#infoTag").click();
        var isValid = true;

        //$("form#frmCreateRFQ :input[type=text]").each(function () {
        //    var input = $(this);
        //    if (input.val() == "") {
        //        isValid = false;
        //    }
        //});

        var invalidMessage = "";

        isValid = $("form#frmCreateRFQ").valid();
        if (isValid) {
            //check Invited Supplier
            

            var hasStartRfqDate = false;
            var startRfqDate = $('#StartRfqDate').val();
            if (startRfqDate != "") {
                hasStartRfqDate = true;
            } else {
                invalidMessage += "Start RFQ date should not be blank. \n";
            }

            var hasValidRfqDate = false;
            var validRfqDate = $('#ValidRfqDate').val();
            if (validRfqDate != "") {
                hasValidRfqDate = true;
            } else {
                invalidMessage += "Valid RFQ date should not be blank. \n";
            }

            var hasEstimateProjectStartDate = false;
            var estimateProjectStartDate = $('#EstimateProjectStartDate').val();
            if (estimateProjectStartDate != "") {
                hasEstimateProjectStartDate = true;
            } else {
                invalidMessage += "Estimate project start date should not be blank. \n";
            }

            var hasEstimateProjectEndDate = false;
            var estimateProjectEndDate = $('#EstimateProjectEndDate').val();
            if (estimateProjectEndDate != "") {
                hasEstimateProjectEndDate = true;
            } else {
                invalidMessage += "Estimate project end date should not be blank. \n";
            }

            var hasQuotationOpeningDate = false;
            var quotationOpeningDate = $('#QuotationOpeningDate').val();
            if (quotationOpeningDate != "") {
                hasQuotationOpeningDate = true;
            } else {
                invalidMessage += "Quotation opening date should not be blank. \n";
            }

            var hasContractValue = false;
            var contractValue = $('#ContractValue').val();
            if (contractValue != "") {
                hasContractValue = true;
            } else {
                invalidMessage += "Contract value should not be blank. \n";
            }

            //Check Requeirment Table
            var hasRequirementRecord = false;
            var hasRequirementValid = false;
            var requirementTableCount = $('#requirementsTableBody').find('tr').length;
            if (requirementTableCount > 0) {
                hasRequirementRecord = true;
            }

            if (hasRequirementRecord) {
                $('input:text.requirement').each(function () {
                    //hasRequirementValid = false;
                    if ($(this).val() == "") {
                        hasRequirementValid = true;
                    }
                });

                if (hasRequirementValid) {
                    invalidMessage += "Service name in Requirement tab is not blank. \n";
                }
            } else {
                invalidMessage += "Please fill at least one record in Requirement tab. \n";
            }

            //Check Support Table
            var hasSupportRecord = false;
            var hasSupportValid = false;
            var supportTableCount = $('#slaTableBody').find('tr').length;
            if (supportTableCount > 0) {
                hasSupportRecord = true;
            }
            if (hasSupportRecord) {
                $('input:text.support').each(function () {
                    //hasSupportValid = false;
                    if ($(this).val() == "") {
                        hasSupportValid = true;
                    }

                    if (hasSupportValid) {
                        invalidMessage += "Service name in Support tab is not blank. \n";
                    }
                });
            } else {
                invalidMessage += "Please fill at least one record in Support tab. \n";
            }

            //Check Commercial Table
            var hasCommercialRecord = false;
            var hasCommercialValid = false;
            var commercialTableCount = $('#penaltyTableBody').find('tr').length;
            if (commercialTableCount > 0) {
                hasCommercialRecord = true;
            }
            if (hasCommercialRecord) {
                $('input:text.commercial').each(function () {
                    //hasCommercialValid = false;
                    if ($(this).val() == "") {
                        hasCommercialValid = true;
                    }
                });

                if (hasCommercialValid) {
                    invalidMessage += "Item name in Commercial tab is not blank. \n";
                }
            } else {
                invalidMessage += "Please fill at least one record in Commercial tab. \n";
            }

            //Check Pricing Table
            var hasPricingRecord = false;
            var hasPricingValid = false;
            var pricingTableCount = $('#pricingTableBody').find('tr').length;
            if (pricingTableCount > 0) {
                hasPricingRecord = true;
            }
            if (hasPricingRecord) {
                $('input:text.pricing').each(function () {
                    //hasPricingValid = false;
                    if ($(this).val() == "") {
                        hasPricingValid = true;
                    }
                });

                if (hasPricingValid) {
                    invalidMessage += "Pricing name in Pricing tab is not blank. \n";
                }
            } else {
                invalidMessage += "Please fill at least one record in Product Pricing tab. \n";
            }

            //Service Table
            var hasServicePricingRecord = false;
            var hasServicePricingValid = false;
            var pricingServiceTableCount = $('#pricingServiceTableBody').find('tr').length;
            if (pricingServiceTableCount > 0) {
                hasServicePricingRecord = true;
            }
            if (hasServicePricingRecord) {
                $('input:text.pricing').each(function () {
                    //hasServicePricingValid = false;
                    if ($(this).val() == "") {
                        hasServicePricingValid = true;
                    }
                });

                if (hasServicePricingValid) {
                    invalidMessage += "Pricing name in Service Pricing tab is not blank. \n";
                }
            } else {
                invalidMessage += "Please fill at least one record in Service Product Pricing tab. \n";
            }

            //Warranty Table
            var hasWarrantyPricingRecord = false;
            var hasWarrantyPricingValid = false;
            var pricingWarrantyTableCount = $('#pricingWarrantyTableBody').find('tr').length;
            if (pricingWarrantyTableCount > 0) {
                hasWarrantyPricingRecord = true;
            }
            if (hasWarrantyPricingRecord) {
                $('input:text.pricing').each(function () {
                    //hasWarrantyPricingValid = false;
                    if ($(this).val() == "") {
                        hasWarrantyPricingValid = true;
                    }
                });

                if (hasWarrantyPricingValid) {
                    invalidMessage += "Pricing name in Warranty Pricing tab is not blank. \n";
                }
            } else {
                invalidMessage += "Please fill at least one record in Warranty Pricing tab. \n";
            }

            //Check PricingValue Table
            var hasPricingQtyValid = false;
            var hasPricingQtyBlank = false;
            $('input:text.pricingQty').each(function () {
                //hasPricingQtyBlank = false;
                var qty = $(this).val();
                //hasPricingQtyBlank = false;
                if (qty != "") {
                    //hasPricingQtyValid = false;
                    if (isNaN(qty)) {
                        hasPricingQtyValid = true;
                    } 
                } else {
                    hasPricingQtyBlank = true;
                }
            });
            if (hasPricingQtyBlank) {
                invalidMessage += "Quantity in Pricing tab is not blank. \n";
            }
            if (hasPricingQtyValid) {
                invalidMessage += "Quantity in Pricing tab is not number. \n";
            }
            
            //if (hasStartRfqDate && hasValidRfqDate && hasEstimateProjectStartDate && haveInvitedSupplier && hasRequirementValid && hasSupportValid && hasCommercialValid && hasPricingValid && hasPricingQtyValid && !hasPricingQtyBlank && hasRequirementRecord && hasSupportRecord && hasCommercialRecord && hasPricingRecord && hasServicePricingRecord && hasWarrantyPricingRecord) {
            if (invalidMessage == "") {
                $('.page-loader-wrapper').fadeIn();
                $("#frmCreateRFQ").submit();

            } else {
                alert(invalidMessage);
                invalidMessage = "";
            }
        } else {
            alert("Please fill all fields!")
        }
    }


    $('#btnUploadFile').on('click', function () {
        var ajaxurl = '@Url.Action("UploadTemplate", "Rfq")';
        var fileExtension = ['xls', 'xlsx'];
        var filename = $('#fUpload').val();
        if (filename.length == 0) {
            alert("Please select a file.");
            return false;
        }
        else {
            var extension = filename.replace(/^.*\./, '');
            if ($.inArray(extension, fileExtension) == -1) {
                alert("Please select only excel files.");
                return false;
            }
        }
        var fdata = new FormData();
        var fileUpload = $("#fUpload").get(0);
        var files = fileUpload.files;
        fdata.append(files[0].name, files[0]);
        $.ajax({
            type: "POST",
            url: ajaxurl,
            data: fdata,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.List_Requirement.length > 0) {

                    $("#requirementsTableBody").empty();

                    for (var i = 0; i < response.List_Requirement.length; i++) {
                        $('#requirementsTableBody').append(
                            "<tr> <td></td>" +
                            "<td>" + "<input type='text' name='Requirement[" + i + "].ServiceName' class='form-control requirement' value='" + response.List_Requirement[i].ServiceName + "'/></td>" +
                                "<td>" + "<input type='text' name='Requirement[" + i + "].Description' class='form-control' value='" + response.List_Requirement[i].Description + "'/></td>" +
                                "<td><button type='button' class='btn btn-danger waves-effect' onclick='RemoveRequirementRow(this)'>Remove</button></td>" +
                             "<tr> "
                        );
                    }

                    $("#detailRequirementLastId").val(response.List_Requirement.length);
                    FillSerialNumber("requirementsTable");
                }

                if (response.List_SLA.length > 0) {

                    $("#slaTableBody").empty();

                    for (var i = 0; i < response.List_SLA.length; i++) {
                        $('#slaTableBody').append(
                            "<tr> <td></td>" +
                            "<td>" + "<input type='text' name='Sla[" + i + "].Requirement' class='form-control support' value='" + response.List_SLA[i].Requirement + "'/></td>" +
                            "<td>" + "<input type='text' name='Sla[" + i + "].Description' class='form-control' value='" + response.List_SLA[i].Description + "'/></td>" +
                            "<td><button type='button' class='btn btn-danger waves-effect' onclick='RemoveSLARow(this)'>Remove</button></td>" +
                            "<tr> "
                        );
                    }
                    $("#detailSLALastId").val(response.List_SLA.length);
                    FillSerialNumber("slaTable");
                }

                if (response.List_Panalty.length > 0) {

                    $("#penaltyTableBody").empty();

                    for (var i = 0; i < response.List_Panalty.length; i++) {
                        $('#penaltyTableBody').append(
                            "<tr><td></td> " +
                            "<td>" + "<input type='text' name='Penalty[" + i + "].BreachOfServiceDefinition' class='form-control commercial' value='" + response.List_Panalty[i].BreachOfServiceDefinition + "'/></td>" +
                            //"<td>" + "<input type='text' name='Penalty[" + i + "].PenaltyAmount' class='form-control' value='" + response.List_Panalty[i].PenaltyAmount + "'/></td>" +
                            "<td>" + "<input type='text' name='Penalty[" + i + "].Description' class='form-control' value='" + response.List_Panalty[i].Description + "'/></td>" +
                            "<td><button type='button' class='btn btn-danger waves-effect' onclick='RemovePenaltyRow(this)'>Remove</button></td>" +
                            "<tr> "
                        );
                    }

                    $("#PenaltyLastId").val(response.List_Panalty.length);
                    FillSerialNumber("penaltyTable");
                }

                var pcount = 0
                if (response.List_Pricing.length > 0) {

                    $("#pricingTableBody").empty();
                    for (var i = 0; i < response.List_Pricing.length; i++) {
                        pcount = i;
                            $('#pricingTableBody').append(
                                "<tr><td></td> " +
                                "<td>" + "<input type='text' name='RfqPriceSchedule[" + pcount + "].ItemName' class='form-control pricing' value='" + response.List_Pricing[i].ItemName + "'/></td>" +
                                "<td>" + "<input type='text' name='RfqPriceSchedule[" + pcount + "].ItemDescription' class='form-control' value='" + response.List_Pricing[i].ItemDescription + "'/></td>" +
                                //"<td>" + "<input type='text' name='RfqPriceSchedule[" + pcount + "].InternalRefrenceCode' class='form-control' value='" + response.List_Pricing[i].InternalRefrenceCode + "'/></td>" +
                                "<td>" +
                                "<input type='text' name='RfqPriceSchedule[" + pcount + "].QuantityRequired' class='form-control pricingQty' value='" + response.List_Pricing[i].QuantityRequired + "'/>" +
                                    "<input type='hidden' name='RfqPriceSchedule[" + pcount + "].CategoryId' class='form-control' value='" + response.List_Pricing[i].CategoryId + "'/>" +
                                "</td >" +
                                "<td><button type='button' class='btn btn-danger waves-effect' onclick='RemovePricingRow(this)'>Remove</button></td>" +
                                "<tr> "
                        );
                        pcount++;
                    }

                    $("#PricingLastId").val(pcount);
                    FillSerialNumber("pricingTable");
                }

                if (response.List_Service_Pricing.length > 0) {
                    $("#pricingWarrantyTableBody").empty();
                    for (var i = 0; i < response.List_Service_Pricing.length; i++) {
                        $('#pricingWarrantyTableBody').append(
                            "<tr><td></td> " +
                            "<td>" + "<input type='text' name='RfqPriceSchedule[" + pcount + "].ItemName' class='form-control pricing' value='" + response.List_Service_Pricing[i].ItemName + "'/></td>" +
                            "<td>" + "<input type='text' name='RfqPriceSchedule[" + pcount + "].ItemDescription' class='form-control' value='" + response.List_Service_Pricing[i].ItemDescription + "'/></td>" +
                            //"<td>" + "<input type='text' name='RfqPriceSchedule[" + pcount + "].InternalRefrenceCode' class='form-control' value='" + response.List_Service_Pricing[i].InternalRefrenceCode + "'/></td>" +
                            "<td>" +
                            "<input type='text' name='RfqPriceSchedule[" + pcount + "].QuantityRequired' class='form-control pricingQty' value='" + response.List_Service_Pricing[i].QuantityRequired + "'/>" +
                            "<input type='hidden' name='RfqPriceSchedule[" + pcount + "].CategoryId' class='form-control' value='" + response.List_Service_Pricing[i].CategoryId + "'/>" +
                            "</td > " +
                            "<td><button type='button' class='btn btn-danger waves-effect' onclick='RemovePricingRow(this)'>Remove</button></td>" +
                            "<tr> "
                        );
                        pcount++;
                    }
                    $("#PricingLastId").val(pcount);
                    FillSerialNumber("pricingWarrantyTable");
                }

                if (response.List_Waranty_Pricing.length > 0) {
                    $("#pricingServiceTableBody").empty();
                    for (var i = 0; i < response.List_Waranty_Pricing.length; i++) {
                        $('#pricingServiceTableBody').append(
                            "<tr><td></td> " +
                            "<td>" + "<input type='text' name='RfqPriceSchedule[" + pcount + "].ItemName' class='form-control pricing' value='" + response.List_Waranty_Pricing[i].ItemName + "'/></td>" +
                            "<td>" + "<input type='text' name='RfqPriceSchedule[" + pcount + "].ItemDescription' class='form-control' value='" + response.List_Waranty_Pricing[i].ItemDescription + "'/></td>" +
                            //"<td>" + "<input type='text' name='RfqPriceSchedule[" + pcount + "].InternalRefrenceCode' class='form-control' value='" + response.List_Waranty_Pricing[i].InternalRefrenceCode + "'/></td>" +
                            "<td>" +
                            "<input type='text' name='RfqPriceSchedule[" + pcount + "].QuantityRequired' class='form-control pricingQty' value='" + response.List_Waranty_Pricing[i].QuantityRequired + "'/>" +
                            "<input type='hidden' name='RfqPriceSchedule[" + pcount + "].CategoryId' class='form-control' value='" + response.List_Waranty_Pricing[i].CategoryId + "'/>" +
                            "</td > " +
                            "<td><button type='button' class='btn btn-danger waves-effect' onclick='RemovePricingRow(this)'>Remove</button></td>" +
                            "<tr> "
                        );
                        pcount++;
                    }
                    $("#PricingLastId").val(pcount);
                    FillSerialNumber("pricingServiceTable");
                }

                $("#PricingLastId").val(pcount);
                console.log(pcount);
                alert("File upload success!");
            },
            error: function (e) {
                $('#dvData').html(e.responseText);
            }
        });
    })
</script>

<!-- Create RFQ Js -->
<script src="~/material_theme/js/RFQ/create.js"></script>

