@model Com.BudgetMetal.ViewModels.Rfq.VmRfqItem

@{
    ViewData["Title"] = "Revise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-controller="Rfq" asp-action="Revise" method="post" enctype="multipart/form-data" id="frmCreateRFQ">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="block-header">
        <h2>Prepare Request for Quotation</h2>
    </div>
    <!-- Input -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        General Information
                    </h2>
                </div>
                <div class="body">

                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <label for="quote_no">RFQ Reference</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" asp-for="Document.DocumentNo" readonly class="form-control" placeholder="<Auto Generate by System>">
                                    <input type="hidden" asp-for="Document.DocumentStatus_Id" value="@(Com.BudgetMetal.Common.Constants_CodeTable.Code_RFQ_Draft)">
                                    <input type="hidden" asp-for="Document.DocumentType_Id" value="@(Com.BudgetMetal.Common.Constants_CodeTable.Code_RFQ)">
                                    <input type="hidden" asp-for="Document.Company_Id" value="@ViewBag.Company_Id">
                                    <input type="hidden" asp-for="Document.CreatedBy" value="@ViewBag.UserName">
                                    <input type="hidden" asp-for="Document.UpdatedBy" value="@ViewBag.UserName">
                                    <input type="hidden" asp-for="CreatedBy" value="@ViewBag.UserName">
                                    <input type="hidden" asp-for="UpdatedBy" value="@ViewBag.UserName">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="quote_no">Title</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" asp-for="Document.Title" class="form-control" placeholder="Project Title" />
                                    <span asp-validation-for="Document.Title" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="status">Status</label>
                            <h4><span class="label label-info">@Model.Document.DocumentStatus.Name</span></h4>
                        </div>
                        @*<div class="col-sm-6">
                                <label for="quote_no">Internal Reference No</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" asp-for="InternalRefrenceNo" class="form-control" placeholder="Internal Reference">
                                        <span asp-validation-for="InternalRefrenceNo" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>*@
                        @*<div class="col-sm-6">
                                <label for="quote_no">Internal Project Name</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" asp-for="InternalProjectName" class="form-control" placeholder="Internal Project Name">
                                        <span asp-validation-for="InternalProjectName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>*@

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- #END# Input -->
    <!-- Tabs -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a id="infoTag" href="#basic_requirements" data-toggle="tab">Info</a></li>
                        <li role="presentation"><a href="#detailed_requirements" data-toggle="tab">Products</a></li>
                        <li role="presentation"><a href="#service_level_agreement" data-toggle="tab">Supports</a></li>
                        <li role="presentation"><a href="#penalty" data-toggle="tab">Commercials</a></li>
                        <li role="presentation"><a href="#pricing" data-toggle="tab">Pricing</a></li>
                        <li role="presentation"><a href="#attachments" data-toggle="tab">Attachments</a></li>
                        <li role="presentation"><a href="#settings" data-toggle="tab">Roles</a></li>
                        <li role="presentation" id="tabinvited_suppliers"><a href="#invited_suppliers" data-toggle="tab">Invited Supplier</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="basic_requirements">
                            <div class="row clearfix">
                                <div class="col-sm-3">
                                    <label for="StartRfqdate">Start RFQ Date</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="StartRfqdate" class="form-control datepicker" placeholder="Start RFQ Date">
                                            <span asp-validation-for="StartRfqdate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="ValidRfqdate">Valid RFQ Date</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="ValidRfqdate" class="form-control datepicker" placeholder="End RFQ Date">
                                            <span asp-validation-for="ValidRfqdate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="QuotationOpeningDate">Quotation Opening Date</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="QuotationOpeningDate" class="form-control datepicker" placeholder="Quotation Opening Date">
                                            <span asp-validation-for="QuotationOpeningDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">

                                <div class="col-sm-3">
                                    <label for="quote_no">Project Start Date</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="EstimatedProjectStartDate" class="form-control datepicker" placeholder="Start of Project Delivery">
                                            <span asp-validation-for="EstimatedProjectStartDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="EstimatedProjectEndDate">Project End Date</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="EstimatedProjectEndDate" class="form-control datepicker" placeholder="End of Project Delivery">
                                            <span asp-validation-for="EstimatedProjectEndDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-9">
                                    <label for="quote_no">Contract Value</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="ContractValue" class="form-control" placeholder="Contract Value">
                                            <span asp-validation-for="ContractValue" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-3">
                                    <input type="checkbox" asp-for="IsPublic" class="chk-col-red" />
                                    <label for="IsPublic">Public</label>

                                    <a href="#" data-toggle="modal" data-target="#publicModal"><span class="badge bg-light-blue">i</span></a>
                                </div>
                                <div class="col-sm-3">
                                    <input type="checkbox" asp-for="SupplierProvideInstallationService" class="chk-col-red" />
                                    <label for="SupplierProvideInstallationService">Supplier Provide Installation Service</label>
                                </div>
                            </div>
                            <div class="row clearfix">
                               

                                <div class="col-sm-12">
                                    <label for="quote_no">Messages to Suppliers</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea rows="3" asp-for="MessageToSupplier" placeholder="Messages to Suppliers" class="form-control no-resize"></textarea>
                                            <span asp-validation-for="MessageToSupplier" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="detailed_requirements">
                            <input type="hidden" id="detailRequirementLastId" value="@Model.Requirement.Count" />
                            <table id="requirementsTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%">Serial</th>
                                        <th width="40%">Service Name</th>
                                        <th width="50%">Description</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody  id="requirementsTableBody">
                                    @{
                                        int countRequirement = 1;
                                        if (Model.Requirement != null)
                                        {
                                            int i = 0;
                                            foreach (var item in Model.Requirement)
                                            {
                                                <tr>
                                                    <td>@countRequirement</td>
                                                    <td><input type="text" name="Requirement[@i].ServiceName" class="form-control requirement" value="@item.ServiceName" /></td>
                                                    <td><textarea rows="3" name="Requirement[@i].Description" class="form-control"> @item.Description </textarea></td>
                                                    <td><button type="button" class="btn btn-danger waves-effect" onclick='RemoveRequirementRow(this)'>Remove</button></td>
                                                </tr>
                                                i++;
                                                countRequirement++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnNewRequirement"> Add Requirement </a>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="service_level_agreement">
                            <input type="hidden" id="detailSLALastId" value="@Model.Sla.Count" />
                            <table id="slaTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%">Serial</th>
                                        <th width="40%">Service Name</th>
                                        <th width="50%">Description</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody  id="slaTableBody">
                                    @{
                                        int countSla = 1;
                                        if (Model.Sla != null)
                                        {
                                            int i = 0;
                                            foreach (var item in Model.Sla)
                                            {
                                                <tr>
                                                    <td>@countSla</td>
                                                    <td><input type="text" name="Sla[@i].Requirement" class="form-control support" value="@item.Requirement" /></td>
                                                    <td><textarea name="Sla[@i].Description" class="form-control"> @item.Description </textarea></td>
                                                    <td><button type="button" class="btn btn-danger waves-effect" onclick='RemoveSLARow(this)'>Remove</button></td>
                                                </tr>
                                                i++;
                                                countSla++;
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnNewSLA"> Add SLA </a>
                                </div>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="penalty">
                            <input type="hidden" id="PenaltyLastId" value="@Model.Penalty.Count" />
                            <table id="penaltyTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%">Serial</th>
                                        <th width="40%">Service Name</th>
                                        @*<th width="20%">Milestone</th>*@
                                        <th width="50%">Description</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody  id="penaltyTableBody">
                                    @{
                                        int countPenalty = 1;
                                        if (Model.Penalty != null)
                                        {
                                            int i = 0;
                                            foreach (var item in Model.Penalty)
                                            {
                                                <tr>
                                                    <td>@countPenalty</td>
                                                    <td><input type="text" name="Penalty[@i].BreachOfServiceDefinition" class="form-control commercial" value="@item.BreachOfServiceDefinition" /></td>
                                                    @*<td><input type="text" name="Penalty[@i].PenaltyAmount" class="form-control" value="@item.PenaltyAmount" /></td>*@
                                                    <td><textarea rows="3" name="Penalty[@i].Description" class="form-control"> @item.Description </textarea></td>
                                                    <td><button type="button" class="btn btn-danger waves-effect" onclick='RemovePenaltyRow(this)'>Remove</button></td>
                                                </tr>
                                                i++;
                                                countPenalty++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnNewPenalty"> Add Terms </a>
                                </div>

                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade in" id="pricing">
                            <h4>Product Pricing</h4>
                            <input type="hidden" id="PricingLastId" value="@Model.RfqPriceSchedule.Count" />
                            @{int j = 0;}
                            <table id="pricingTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%">Serial</th>
                                        <th width="30%">Item Name</th>
                                        <th width="40%">Item Description</th>
                                        @*<th width="20%">Internal Reference Code</th>*@
                                        <th width="15%">Quantity</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="pricingTableBody">
                                    @{
                                        int countPrice = 1;
                                        if (Model.RfqPriceSchedule != null)
                                        {
                                            int i = j;
                                            var productList = Model.RfqPriceSchedule.Where(x => x.CategoryId == Com.BudgetMetal.Common.Constants_CodeTable.Code_RfqPriceCategory_Product).ToList();
                                            foreach (var item in productList)
                                            {
                                                <tr>
                                                    <td>@countPrice</td>
                                                    <td><input type="text" name="RfqPriceSchedule[@i].ItemName" class="form-control pricing" value="@item.ItemName" /> </td>
                                                    <td><textarea rows="3" name="RfqPriceSchedule[@i].ItemDescription" class="form-control"> @item.ItemDescription </textarea></td>
                                                    @*<td><input type="text" name="RfqPriceSchedule[@i].InternalRefrenceCode" class="form-control" value="@item.InternalRefrenceCode" /></td>*@
                                                    <td>
                                                        <input type="text" name="RfqPriceSchedule[@i].QuantityRequired" class="form-control pricingQty" value="@item.QuantityRequired" />
                                                        <input type="hidden" name="RfqPriceSchedule[@i].CategoryId" value="@(Com.BudgetMetal.Common.Constants_CodeTable.Code_RfqPriceCategory_Product)" class="form-control" />
                                                    </td>
                                                    <td><button type="button" class="btn btn-danger waves-effect" onclick='RemovePricingRow(this)'>Remove</button></td>
                                                </tr>
                                                i++;
                                                countPrice++;
                                            }
                                            j = i;
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnNewPricing"> Add Pricing </a>
                                </div>
                            </div>
                            <h4>Service Pricing</h4>
                            <table id="pricingServiceTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%">Serial</th>
                                        <th width="30%">Item Name</th>
                                        <th width="40%">Item Description</th>
                                        @*<th width="20%">Internal Reference Code</th>*@
                                        <th width="15%">Quantity</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="pricingServiceTableBody">
                                    @{
                                        int countPriceService = 1;
                                        if (Model.RfqPriceSchedule != null)
                                        {
                                            int i = j;
                                            var serviceList = Model.RfqPriceSchedule.Where(x => x.CategoryId == Com.BudgetMetal.Common.Constants_CodeTable.Code_RfqPriceCategory_Service).ToList();
                                            foreach (var item in serviceList)
                                            {
                                                <tr>
                                                    <td>@countPriceService</td>
                                                    <td><input type="text" name="RfqPriceSchedule[@i].ItemName" class="form-control pricing" value="@item.ItemName" /> </td>
                                                    <td><textarea rows="3" name="RfqPriceSchedule[@i].ItemDescription" class="form-control"> @item.ItemDescription </textarea></td>
                                                    @*<td><input type="text" name="RfqPriceSchedule[@i].InternalRefrenceCode" class="form-control" value="@item.InternalRefrenceCode" /></td>*@
                                                    <td>
                                                        <input type="text" name="RfqPriceSchedule[@i].QuantityRequired" class="form-control pricingQty" value="@item.QuantityRequired" />
                                                        <input type="hidden" name="RfqPriceSchedule[@i].CategoryId" value="@(Com.BudgetMetal.Common.Constants_CodeTable.Code_RfqPriceCategory_Service)" class="form-control" />
                                                    </td>
                                                    <td><button type="button" class="btn btn-danger waves-effect" onclick='RemovePricingRow(this)'>Remove</button></td>
                                                </tr>
                                                i++;
                                                countPriceService++;
                                            }
                                            j = i;
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnServicePricing"> Add Service Pricing </a>
                                </div>
                            </div>
                            <h4>Warranty Pricing</h4>
                            <table id="pricingWarrantyTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%">Serial</th>
                                        <th width="30%">Item Name</th>
                                        <th width="40%">Item Description</th>
                                        @*<th width="20%">Internal Reference Code</th>*@
                                        <th width="15%">Quantity</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="pricingWarrantyTableBody">
                                    @{
                                        int countPriceWarranty = 1;
                                        if (Model.RfqPriceSchedule != null)
                                        {
                                            int i = j;
                                            var warrantyList = Model.RfqPriceSchedule.Where(x => x.CategoryId == Com.BudgetMetal.Common.Constants_CodeTable.Code_RfqPriceCategory_Warranty).ToList();
                                            foreach (var item in warrantyList)
                                            {
                                                <tr>
                                                    <td>@countPriceWarranty</td>
                                                    <td><input type="text" name="RfqPriceSchedule[@i].ItemName" class="form-control pricing" value="@item.ItemName" /> </td>
                                                    <td><textarea rows="3" name="RfqPriceSchedule[@i].ItemDescription" class="form-control"> @item.ItemDescription </textarea></td>
                                                    @*<td><input type="text" name="RfqPriceSchedule[@i].InternalRefrenceCode" class="form-control" value="@item.InternalRefrenceCode" /></td>*@
                                                    <td>
                                                        <input type="text" name="RfqPriceSchedule[@i].QuantityRequired" class="form-control pricingQty" value="@item.QuantityRequired" />
                                                        <input type="hidden" name="RfqPriceSchedule[@i].CategoryId" value="@(Com.BudgetMetal.Common.Constants_CodeTable.Code_RfqPriceCategory_Warranty)" class="form-control" />
                                                    </td>
                                                    <td><button type="button" class="btn btn-danger waves-effect" onclick='RemovePricingRow(this)'>Remove</button></td>
                                                </tr>
                                                i++;
                                                countPriceWarranty++;
                                            }
                                            j = i;
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnWarrantyPricing"> Add Warranty Pricing </a>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="invited_suppliers">
                            <div class="row">
                                @*<div class="col-sm-3">
                                    <select id="ddlIndustry" class="form-control selectpicker"></select>
                                    <input type="hidden" asp-for="IndustryOfRfq" id="hdIndustry" />
                                </div>*@
                                <div class="col-sm-8">
                                    @*<select id="ddlServiceTags" class="form-control"></select>*@
                                    <select asp-for="SelectedTags" class="form-control selectpicker" id="ddlServiceTags" data-live-search="true" multiple></select>
                                    <input type="hidden" value="@Model.SelectedTags" id="hdSelectedTags" />
                                </div>
                                <div class="col-sm-1">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" name="txtSearchSupplier" id="txtSearchSupplier" class="form-control" placeholder="Supplier Name, UEN">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    @{
                                        string selectedSuppliers = string.Join(",", Model.InvitedSupplier.Select(m => m.Company_Id).ToArray());
                                    }
                                    <input type="hidden" id="hdSelectedSuppliers" value="@selectedSuppliers" />
                                    <a class="btn btn-success" id="btnLoadSupplier">Search Supplier</a>
                                </div>
                            </div>
                            <table id="invitedSupplierTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="95%">Supplier Information</th>
                                        <th width="*">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div class="row">
                                <div class="pagination" style="padding:10px;">

                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="attachments">

                            <table id="attachmentTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="25%">File Name</th>
                                        <th width="70%">Description</th>
                                        <th width="*">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                            <iframe id="iframe_download_file" style="display:none" src=""></iframe>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnNewFile"> Add Attachment </a>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="settings">
                            <div class="row">
                                <div class="col-sm-5">
                                    <select id="ddlUser" class="form-control selectpicker"></select>
                                </div>
                                <div class="col-sm-5">
                                    <select class="form-control selectpicker" id="ddlRole" data-live-search="true" multiple></select>
                                </div>
                                <div class="col-sm-2">
                                    <a id="btnAddUser" class="btn btn-success">Add</a>
                                </div>
                            </div>

                            <table id="userSettingTable" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th width="95%">Accessible User(s)</th>
                                        <th width="*">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.Document.DocumentUserDisplay != null)
                                        {
                                            int i = 0;
                                            foreach (var item in Model.Document.DocumentUserDisplay)
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="hidden" name='documentUserId[]' value="@item.User_Id" />
                                                        <h5>@item.UserName</h5>
                                                        <input type='hidden' name='documentUserRole[]' value='@item.Roles_Id' />
                                                        @{
                                                            foreach (string tmpRole in item.Roles)
                                                            {
                                                                <span class='label bg-deep-purple'>@tmpRole</span>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                            if (i > 0)
                                                            {
                                                                <button type="button" class="btn btn-danger waves-effect" onclick='RemoveUserRow(this)'>Remove</button>
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    }

                                </tbody>
                            </table>

                            <div id="rfq_Email_Invites">
                                <input type="hidden" id="detailEmalsInviteLastId" value="@Model.RfqEmailInvites.Count" />
                                <table id="reqEmailInvitesTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th width="30%">Name</th>
                                            <th width="50%">Email Address</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody id="rfqEmailInvites">
                                        @{
                                            if (Model.RfqEmailInvites != null)
                                            {
                                                int i = 0;
                                                foreach (var item in Model.RfqEmailInvites)
                                                {
                                                    <tr>
                                                        <td><input type="text" name="RfqEmailInvites[@i].Name" class="form-control" value="@item.Name" /></td>
                                                        <td><input type="text" name="RfqEmailInvites[@i].EmailAddress" class="form-control" value="@item.EmailAddress" /></td>
                                                        <td><button type="button" class="btn btn-danger waves-effect" onclick='RemoveRfqEmailInvites(this)'>Remove</button></td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <a class="btn btn-success" id="btnRfqEmailsInvites"> New Email Invite </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <input type="hidden" name="btnType" id="btnType" value="" />
                    <button type="button" id="btnDraft" class="btn btn-info btn-lg">Save as Draft</button>
                    <button type="button" id="btnSubmit" class="btn btn-primary  btn-lg">Submit</button>
                    <input type="hidden" id="loadinvitedsupplier" value="0" />
                </div>
            </div>
        </div>
    </div>

</form>

<div class="modal fade" id="publicModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Public</h4>
            </div>
            <div class="modal-body">
                By checking Public, your tender will be published in our <b><a href="https://www.facebook.com/Ezy-Tender-982142328651452/" target="_blank">FACEBOOK Page</a></b> and our TenderBoard public domain.
            </div>
        </div>
    </div>
</div>

<!-- Editable Table Plugin Js
<script src="~/material_theme/plugins/editable-table/mindmup-editabletable.js"></script>
<script src="~/material_theme/js/pages/tables/editable-table.js"></script> -->
<!-- Moment Plugin Js -->
<script src="~/material_theme/plugins/momentjs/moment.js"></script>
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="~/material_theme/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<!-- Input Mask Plugin Js -->
<script src="~/material_theme/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
<!-- Autosize Plugin Js -->
<script src="~/material_theme/plugins/autosize/autosize.js"></script>
<!-- Custom Js -->
<script src="~/material_theme/js/pages/forms/basic-form-elements.js"></script>
<!-- Dropzone Css -->
<link href="~/material_theme/plugins/dropzone/dropzone.css" rel="stylesheet">
<!-- Dropzone Plugin Js -->
<script src="~/material_theme/plugins/dropzone/dropzone.js"></script>
<!-- Bootstrap Colorpicker Js -->
<script src="~/material_theme/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

<!-- Select Plugin Js -->
<script src="~/material_theme/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Multi Select Plugin Js -->
<script src="~/material_theme/plugins/multi-select/js/jquery.multi-select.js"></script>


<script>
    $(function () {
        //loadIndustry();
        loadServiceTags(0);
        loadUser();
        loadRole()
       // $('#StartRfqdate').datepicker("setDate", new Date(2008, 9, 03));

        $('#ValidRfqdate').bootstrapMaterialDatePicker('setMinDate', moment());
        $('#StartRfqdate').bootstrapMaterialDatePicker('setMinDate', moment()).on('change', function (e, date) {
            $('#ValidRfqdate').bootstrapMaterialDatePicker('setMinDate', date);
        });

        $('#EstimatedProjectEndDate').bootstrapMaterialDatePicker('setMinDate', moment());
        $('#EstimatedProjectStartDate').bootstrapMaterialDatePicker('setMinDate', moment()).on('change', function (e, date) {
            $('#EstimatedProjectEndDate').bootstrapMaterialDatePicker('setMinDate', date);
        });
    });

    $("#tabinvited_suppliers").click(function () {
        //alert($('#ddlIndustry').val());



    });

    //$("#btnSubmit").click(function () {
    //    //alert($('.supplier:checkbox:checked'));
    //    var haveInvitedSupplier = false;
    //    $('input:checkbox.supplier').each(function () {
    //        var sThisVal = (this.checked ? $(this).val() : "");
    //        if (sThisVal != "") {
    //            haveInvitedSupplier = true;
    //        }
    //    });

    //    if (haveInvitedSupplier) {
    //        $("#frmCreateRFQ").submit();
    //    } else {
    //        alert("Please invite at least one supplier.");
    //    }


    //});

    $("#btnSubmit").click(function () {
        $("#btnType").val("submit");
        SaveForm();
    });

    $("#btnDraft").click(function () {
        $("#btnType").val("save as draft");
        SaveForm();
    });

    function SaveForm() {
        //alert("Start save!")
        $("#infoTag").click();
        var isValid = true;

        //$("form#frmCreateRFQ :input[type=text]").each(function () {
        //    var input = $(this);
        //    if (input.val() == "") {
        //        isValid = false;
        //    }
        //});

        var invalidMessage = "";

        isValid = $("form#frmCreateRFQ").valid();
        if (isValid) {
            //check Invited Supplier
            var haveInvitedSupplier = false;
            $('input:checkbox.supplier').each(function () {
                var sThisVal = (this.checked ? $(this).val() : "");
                if (sThisVal != "") {
                    haveInvitedSupplier = true;
                }
            });
            if (!haveInvitedSupplier) {
                invalidMessage += "Please invite at least one supplier. \n";
            }

            var hasStartRfqDate = false;
            var startRfqDate = $('#StartRfqDate').val();
            if (startRfqDate != "") {
                hasStartRfqDate = true;
            } else {
                invalidMessage += "Start RFQ date should not be blank. \n";
            }

            var hasValidRfqDate = false;
            var validRfqDate = $('#ValidRfqDate').val();
            if (validRfqDate != "") {
                hasValidRfqDate = true;
            } else {
                invalidMessage += "Valid RFQ date should not be blank. \n";
            }

            var hasEstimateProjectStartDate = false;
            var estimateProjectStartDate = $('#EstimateProjectStartDate').val();
            if (estimateProjectStartDate != "") {
                hasEstimateProjectStartDate = true;
            } else {
                invalidMessage += "Estimate project start date should not be blank. \n";
            }

            var hasEstimateProjectEndDate = false;
            var estimateProjectEndDate = $('#EstimateProjectEndDate').val();
            if (estimateProjectEndDate != "") {
                hasEstimateProjectEndDate = true;
            } else {
                invalidMessage += "Estimate project end date should not be blank. \n";
            }

            //var hasQuotationOpeningDate = false;
            //var quotationOpeningDate = $('#QuotationOpeningDate').val();
            //if (quotationOpeningDate != "") {
            //    hasQuotationOpeningDate = true;
            //} else {
            //    invalidMessage += "Quotation opening date should not be blank. \n";
            //}

            //var hasContractValue = false;
            //var contractValue = $('#ContractValue').val();
            //if (contractValue != "") {
            //    hasContractValue = true;
            //} else {
            //    invalidMessage += "Contract value should not be blank. \n";
            //}

            //Check Requeirment Table
            var hasRequirementRecord = false;
            var hasRequirementValid = false;
            var requirementTableCount = $('#requirementsTableBody').find('tr').length;
            if (requirementTableCount > 0) {
                hasRequirementRecord = true;
            }

            if (hasRequirementRecord) {
                $('input:text.requirement').each(function () {
                    //hasRequirementValid = false;
                    if ($(this).val() == "") {
                        hasRequirementValid = true;
                    }
                });

                if (hasRequirementValid) {
                    invalidMessage += "Service name in Requirement tab is not blank. \n";
                }
            } else {
                invalidMessage += "Please fill at least one record in Requirement tab. \n";
            }

            //Check Support Table
            var hasSupportRecord = false;
            var hasSupportValid = false;
            var supportTableCount = $('#slaTableBody').find('tr').length;
            if (supportTableCount > 0) {
                hasSupportRecord = true;
            }
            if (hasSupportRecord) {
                $('input:text.support').each(function () {
                    //hasSupportValid = false;
                    if ($(this).val() == "") {
                        hasSupportValid = true;
                    }

                    if (hasSupportValid) {
                        invalidMessage += "Service name in Support tab is not blank. \n";
                    }
                });
            } else {
                invalidMessage += "Please fill at least one record in Support tab. \n";
            }

            //Check Commercial Table
            var hasCommercialRecord = false;
            var hasCommercialValid = false;
            var commercialTableCount = $('#penaltyTableBody').find('tr').length;
            if (commercialTableCount > 0) {
                hasCommercialRecord = true;
            }
            if (hasCommercialRecord) {
                $('input:text.commercial').each(function () {
                    //hasCommercialValid = false;
                    if ($(this).val() == "") {
                        hasCommercialValid = true;
                    }
                });

                if (hasCommercialValid) {
                    invalidMessage += "Item name in Commercial tab is not blank. \n";
                }
            } else {
                invalidMessage += "Please fill at least one record in Commercial tab. \n";
            }

            //Check Pricing Table
            var hasPricingRecord = false;
            var hasPricingValid = false;
            var pricingTableCount = $('#pricingTableBody').find('tr').length;
            if (pricingTableCount > 0) {
                hasPricingRecord = true;
            }
            if (hasPricingRecord) {
                $('input:text.pricing').each(function () {
                    //hasPricingValid = false;
                    if ($(this).val() == "") {
                        hasPricingValid = true;
                    }
                });

                if (hasPricingValid) {
                    invalidMessage += "Pricing name in Pricing tab is not blank. \n";
                }
            } else {
                invalidMessage += "Please fill at least one record in Product Pricing tab. \n";
            }

            //Service Table
            var hasServicePricingRecord = false;
            var hasServicePricingValid = false;
            var pricingServiceTableCount = $('#pricingServiceTableBody').find('tr').length;
            if (pricingServiceTableCount > 0) {
                hasServicePricingRecord = true;
            }
            if (hasServicePricingRecord) {
                $('input:text.pricing').each(function () {
                    //hasServicePricingValid = false;
                    if ($(this).val() == "") {
                        hasServicePricingValid = true;
                    }
                });

                if (hasServicePricingValid) {
                    invalidMessage += "Pricing name in Service Pricing tab is not blank. \n";
                }
            } else {
                invalidMessage += "Please fill at least one record in Service Product Pricing tab. \n";
            }

            //Warranty Table
            var hasWarrantyPricingRecord = false;
            var hasWarrantyPricingValid = false;
            var pricingWarrantyTableCount = $('#pricingWarrantyTableBody').find('tr').length;
            if (pricingWarrantyTableCount > 0) {
                hasWarrantyPricingRecord = true;
            }
            if (hasWarrantyPricingRecord) {
                $('input:text.pricing').each(function () {
                    //hasWarrantyPricingValid = false;
                    if ($(this).val() == "") {
                        hasWarrantyPricingValid = true;
                    }
                });

                if (hasWarrantyPricingValid) {
                    invalidMessage += "Pricing name in Warranty Pricing tab is not blank. \n";
                }
            } else {
                invalidMessage += "Please fill at least one record in Warranty Pricing tab. \n";
            }

            //Check PricingValue Table
            var hasPricingQtyValid = false;
            var hasPricingQtyBlank = false;
            $('input:text.pricingQty').each(function () {
                //hasPricingQtyBlank = false;
                var qty = $(this).val();
                //hasPricingQtyBlank = false;
                if (qty != "") {
                    //hasPricingQtyValid = false;
                    if (isNaN(qty)) {
                        hasPricingQtyValid = true;
                    }
                } else {
                    hasPricingQtyBlank = true;
                }
            });
            if (hasPricingQtyBlank) {
                invalidMessage += "Quantity in Pricing tab is not blank. \n";
            }
            if (hasPricingQtyValid) {
                invalidMessage += "Quantity in Pricing tab is not number. \n";
            }

            //if (hasStartRfqDate && hasValidRfqDate && hasEstimateProjectStartDate && haveInvitedSupplier && hasRequirementValid && hasSupportValid && hasCommercialValid && hasPricingValid && hasPricingQtyValid && !hasPricingQtyBlank && hasRequirementRecord && hasSupportRecord && hasCommercialRecord && hasPricingRecord && hasServicePricingRecord && hasWarrantyPricingRecord) {
            if (invalidMessage == "") {
                $('.page-loader-wrapper').fadeIn();
                $("#frmCreateRFQ").submit();

            } else {
                alert(invalidMessage);
                invalidMessage = "";
            }
        } else {
            alert("Please fill all fields!")
        }
    }

    function loadUser() {
        var ajaxurl = '@Url.Action("GetActiveUserByCompany", "Rfq")';

        $('#ddlUser').append($('<option>', {
            value: 0,
            text: '--Select User--'
        }));

        $.ajax({
            url: ajaxurl,
            data: { CompanyId: @Model.Document.Company_Id },
            dataType: 'json',
            success: function (response) {
                //console.log(response);
                var obj = response;
                for (var k in obj) {
                    var item = obj[k];
                    $('#ddlUser').append($('<option>', {
                        value: item.Id,
                        text: item.ContactName
                    }));
                }
                $("#ddlUser").selectpicker('refresh');

            },
            error: function (response) {
                alert(response)
            }

        });
    }

    $("#btnAddUser").click(function () {
        var userId = $("#ddlUser").val();
        var userName = $("#ddlUser option:selected").text();
        var roleId = $("#ddlRole").val();

        if (userId == 0 ) {
            alert("Please select the user");
        } else {
            var isExistingUser = false;
            $('#userSettingTable > tbody  > tr > td > input[name="documentUserId[]"]').each(function () {
                if (userId == $(this).val()) {
                    alert("User is already exist in list.");
                    isExistingUser = true;
                }
            });
            if (isExistingUser == false) {
                if (roleId == null) {
                    alert("Please select the role(s)");
                } else {
                    var tmptag = "<tr><td>" +
                        "<input type='hidden' name='documentUserId[]' value='" + userId + "' />" +
                        "<h5> " + userName + " </h5>" +
                        "<input type='hidden' name='documentUserRole[]' value='" + roleId + "' />";
                    $("#ddlRole option:selected").each(function () {
                        var $this = $(this);
                        if ($this.length) {
                            var selText = $this.text();
                            tmptag = tmptag + "<span class='label bg-deep-purple'> " + selText +" </span>&nbsp;  ";
                        }
                    });
                    tmptag = tmptag + "</td><td><button type='button' class='btn btn-danger waves-effect'  onclick='RemoveUserRow(this)'>Remove</button></td>";
                    tmptag = tmptag + "</tr>";
                    $("#userSettingTable > tbody").append(tmptag);
                    $("#ddlUser").val(0);
                    $("#ddlUser").selectpicker('refresh');
                    $("#ddlRole").val(0);
                    $("#ddlRole").selectpicker('refresh');
                }
            }
        }
    });

    function RemoveUserRow(item) {
        $(item).parent().parent().remove();
    }

    function loadRole() {
        var ajaxurl = '@Url.Action("GetActiveRoles", "Rfq")';

         $.ajax({
            url: ajaxurl,
            dataType: 'json',
            success: function (response) {
                //console.log(response);
                var obj = response;
                for (var k in obj) {
                    var item = obj[k];
                    $('#ddlRole').append($('<option>', {
                        value: item.Id,
                        text: item.Name
                    }));
                }
                $("#ddlRole").selectpicker('refresh');
            },
            error: function (response) {
                alert(response)
            }
        });
    }

    $("#btnLoadSupplier").click(function () {
        $('#invitedSupplierTable > tbody').empty();
        loadSupplier(1);
    });

    function loadSupplier(page) {

     var serviceTagsId = $('#ddlServiceTags').val();
        var searchSupplier = $('#txtSearchSupplier').val();
     var stringServiceTagsId = serviceTagsId.toString();

     if (serviceTagsId == null) {
            alert("Please select the service tags!")
        } else {
            var ajaxurl = '@Url.Action("GetSupplierByServiceTagsId", "Rfq")';
            $.ajax({
                url: ajaxurl,
                data: { serviceTagsId: stringServiceTagsId, page: page, searchKeyword: searchSupplier },
                dataType: 'json',
                success: function (response) {
                    var obj = response.Result.Records;
                    for (var k in obj) {
                        var item = obj[k];
                        var selected = "";
                        var selectedClass = "btn-danger";
                        var invited = "Select";
                        var invitedSupplier = $("#hdSelectedSuppliers").val();

                        var array = invitedSupplier.split(',');
                        array.forEach(function (i) {
                            if (i == item.Id) {
                                selected = "checked='checked'";
                                selectedClass = "btn-success";
                                invited = "Selected";
                            }
                        });

                        var verifyBadge = "<span class='label label-danger'>Unverified</span>";
                        if (item.IsVerified) {
                            verifyBadge = "<span class='label label-success'>Verified</span>";
                        }
                        $('#invitedSupplierTable > tbody').append(
                            "<tr>" +
                            "<td><a href='@Url.Action("Details","Companies")/"+item.Id+"' target='_blank'> <h5>" + item.Name + "</h5></a>" + verifyBadge +
                            "<p><i> Industry Certification: " + item.IndustryCertification +"</i></p> <p class='m-t-15 m-b-30'>" + item.About + "</p></td>" +
                            "<td><input type='checkbox' class='filled-in supplier' id='chkSupplier_" + item.Id + "'  name='supplier_list' value='" + item.Id + "' " + selected + "> <button type='button' id='btnInvite_" + item.Id + "' class='btn " + selectedClass +"' onclick='checkSupplier(" + item.Id + ")'>"+invited+"</button></td>" +
                            "</tr>");

                    }
                    $("#hdSelectedSuppliers").val("0");
                    var totalpage = response.Result.TotalPage;
                    var currentpage = response.Result.CurrentPage;
                    if (totalpage > currentpage) {
                        $(".pagination").empty();
                        $(".pagination").append(" <a class='btn btn-md btn-default' OnClick='loadSupplier(" + response.Result.NextPage + ")'> Load More </a> ");
                    } else {
                        $(".pagination").empty();
                    }
                },
                error: function (response) {
                    alert(response)
                }
            });
     }

    }

    function checkSupplier(n) {

        if ($("#chkSupplier_" + n).prop("checked")) {

            $("#chkSupplier_" + n).prop("checked", false);
            $("#btnInvite_" + n).removeClass("btn btn-success").addClass("btn btn-danger");
            $("#btnInvite_" + n).text("Select");
        } else {
            $("#chkSupplier_" + n).prop("checked", true);
            $("#btnInvite_" + n).removeClass("btn btn-danger").addClass("btn btn-success");
            $("#btnInvite_" + n).text("Selected");
        }
        var selectedSupplier = "";
        $('input[name="supplier_list"]:checked').each(function () {
            if (selectedSupplier == "") {
                selectedSupplier = this.value;
            } else {
                selectedSupplier = selectedSupplier + "," + this.value;
            }
        });
        console.log(selectedSupplier);
        $("#hdSelectedSuppliers").val(selectedSupplier);
    }
function loadIndustry() {
    var ajaxurl = '@Url.Action("GetActiveIndustries", "Rfq")';

    $('#ddlIndustry').append($('<option>', {
        value: 0,
        text: '--Select Industry--'
    }));

    $.ajax({
        url: ajaxurl,
        dataType: 'json',
        success: function (response) {
            //console.log(response);
            var obj = response;
            for (var k in obj) {
                var item = obj[k];
                $('#ddlIndustry').append($('<option>', {
                    value: item.Id,
                    text: item.Name
                }));
            }
            $("#ddlIndustry").val($("#hdIndustry").val());
            $("#ddlIndustry").selectpicker('refresh');
            if ($("#loadinvitedsupplier").val() == "0") {

                loadServiceTags(0);
            }
        },
        error: function (response) {
            alert(response)
        }

    });

    }

    $("#ddlIndustry").change(function () {
        var industryId = $('#ddlIndustry').val();

        loadServiceTags(industryId);
    });

    function loadServiceTags(industryId) {
        //var industryId = $('#ddlIndustry').val();
        //alert(industryId);
        $('#ddlServiceTags').empty();
       
            var ajaxurl = '@Url.Action("GetServiceTagByIndustry", "Rfq")';

            $.ajax({
                url: ajaxurl,
                data: {Id: industryId},
                dataType: 'json',
                success: function (response) {
                    //console.log(response);
                    var obj = response;
                    for (var k in obj) {
                        var item = obj[k];
                        var selected = "";
                        var selectedTags = $("#hdSelectedTags").val();
                        //alert(selectedTags);
                        var array = selectedTags.split(',');
                        array.forEach(function (i) {
                            if (i == item.Id) {
                                selected = "selected";
                            }
                        });


                        var tmpstring = "<option value='" + item.Id + "' " + selected + ">" + item.Name + "</option>"
                        $('#ddlServiceTags').append(tmpstring);
                    }

                    $("#ddlServiceTags").selectpicker('refresh');
                    $("#hdSelectedTags").val("0");
                    if ($("#loadinvitedsupplier").val() == "0") {
                        loadSupplier(1);
                        $("#loadinvitedsupplier").val("1");
                    }
                },
                error: function (response) {
                    alert(response)
                }
            });
        
    }

    $(".btn_download").on("click", function () {

        var fileId = $(this).data('fileid');
         var ajaxurl = '@Url.Action("AttachmentDownload", "Rfq")';
        var url = ajaxurl+ "?fileid=" + fileId;
        $('#iframe_download_file').attr('src', url)
        //alert('download - ' + $('#iframe_download_file').attr('src'));

    });

    $('#IsPublic').click(function () {
        if ($(this).prop("checked") == true) {
            $('#publicModal').modal('show');
        }
        else if ($(this).prop("checked") == false) {
            //alert("Checkbox is unchecked.");
        }
    });
</script>

<!-- Create RFQ Js -->
<script src="~/material_theme/js/RFQ/create.js"></script>