@model Com.BudgetMetal.ViewModels.Industries.VmIndustryPage

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<h3>Industry</h3>
<div class="card">
    <div class="row"></div>
    <div class="header">
        <div class="row">
            @using (Html.BeginForm("Index", "Industries", FormMethod.Get))
            {
                <div class="col-sm-5">
                    @Html.TextBox("keyword",
                        null,
                        new {
                            id = "search_key",
                            @class = "form-control"
                        })
                </div>
                <div class="col-sm-1">
                    <input class="btn btn-info" type="submit" value="Search" />
                </div>
            }
        </div>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.Result.Records[0].Name)
                </th>
                <th><a asp-action="Create">Create New</a></th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;
                foreach (var item in Model.Result.Records)
                {
                    <tr>
                        <td> @counter </td>
                        <td> @item.Name </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            @*<a asp-action="Details" asp-route-id="@item.Id">Details</a>*@
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                    counter++;
                }
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-12">
            <div class="pagination pull-right" style="padding:10px;">
                @{
                    int currentPage = Model.Result.CurrentPage;
                    int totalPage = Model.Result.TotalPage;
                    int previousPage = Model.Result.PreviousPage;
                    int nextPage = Model.Result.NextPage;

                    int startPage = currentPage - 5;
                    int endPage = currentPage + 4;

                    if (startPage <= 0)
                    {
                        endPage -= (startPage - 1);
                        startPage = 1;
                    }
                    if (endPage > totalPage)
                    {
                        endPage = totalPage;
                        if (endPage > 10)
                        {
                            startPage = endPage - 9;
                        }
                    }

                    @if (endPage > 1)
                    {
                        <ul class="pagination">
                            @if (currentPage > 1)
                            {
                                <li>
                                    <a class='btn btn-md btn-primary' href="~/Industries">First</a>
                                </li>
                                <li>
                                    <a class='btn btn-md btn-primary' href="?page=@(currentPage - 1)">Previous</a>
                                </li>
                            }

                            @for (int page = startPage; page <= endPage; page++)
                            {
                                <li class="@(page == currentPage ? "active" : "")">
                                    <a class='btn btn-md btn-primary' href="?page=@(page)"> @(page) </a>
                                </li>
                            }

                            @if (currentPage < totalPage)
                            {
                                <li>
                                    <a class='btn btn-md btn-primary' href="?page=@(currentPage + 1)">Next</a>
                                </li>
                                <li>
                                    <a class='btn btn-md btn-primary' href="?page=@(totalPage)">Last</a>
                                </li>
                            }
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
</div>