@model Com.BudgetMetal.ViewModels.Blogs.VmBlogPage
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Public_Layout.cshtml";
}

<div id="Header_wrapper" class="bg-parallax" data-enllax-ratio="0.2">
    <div id="Subheader" style="padding: 10px 0 50px">
        <!-- <div id="Subheader" style="padding:290px 0 190px"> copied -->
        <div class="container">
            <div class="column one">
                <h1 class="title">Blog</h1>
            </div>
        </div>
    </div>
</div>
<div id="Content">
    <div class="content_wrapper clearfix">
        <br /><br />
        <div class="sections_group">
            <div class="entry-content">
                @{
                    foreach (var item in Model.Result.Records)
                    {
                <div class="section mcb-section equal-height-wrap">
                    <div class="section_wrapper mcb-section-inner">
                        <h3>
                            @item.Title
                        </h3>
                        <h4>Category : @item.Category</h4>
                       
                        <p>
                           @Html.Raw(item.Note)
                        </p>
                        <a href="@item.RedirectLink" target="_blank">Read More</a>
                        <hr />
                    </div>
                </div>
                    }
                }

                
                <div class="section mcb-section equal-height-wrap">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="pagination pull-right" style="padding:10px;">
                            @{
                                int currentPage = Model.Result.CurrentPage;
                                int totalPage = Model.Result.TotalPage;
                                int previousPage = Model.Result.PreviousPage;
                                int nextPage = Model.Result.NextPage;

                                int startPage = currentPage - 5;
                                int endPage = currentPage + 4;

                                if (startPage <= 0)
                                {
                                    endPage -= (startPage - 1);
                                    startPage = 1;
                                }
                                if (endPage > totalPage)
                                {
                                    endPage = totalPage;
                                    if (endPage > 10)
                                    {
                                        startPage = endPage - 9;
                                    }
                                }

                                @if (endPage > 1)
                                {
                                    <ul class="pagination">
                                        @if (currentPage > 1)
                                        {
                                            <li>
                                                <a class='btn btn-md btn-primary' href="~/Roles">First</a>
                                            </li>
                                            <li>
                                                <a class='btn btn-md btn-primary' href="?page=@(currentPage - 1)">Previous</a>
                                            </li>
                                        }

                                        @for (int page = startPage; page <= endPage; page++)
                                        {
                                            <li class="@(page == currentPage ? "active" : "")">
                                                <a class='btn btn-md btn-primary' href="?page=@(page)"> @(page) </a>
                                            </li>
                                        }

                                        @if (currentPage < totalPage)
                                        {
                                            <li>
                                                <a class='btn btn-md btn-primary' href="?page=@(currentPage + 1)">Next</a>
                                            </li>
                                            <li>
                                                <a class='btn btn-md btn-primary' href="?page=@(totalPage)">Last</a>
                                            </li>
                                        }
                                    </ul>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function resizeIframe(obj) {
        var h = obj.contentWindow.document.body.scrollHeight + 200
        obj.style.height = h + 'px';
    }
</script>

