@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Empty_Layout.cshtml";
}




    <div class="row">
        <div class="col-sm-6">
            <div class="btn-group" role="group" aria-label="Justified button group">
                <button id="btn_tender_open" style="margin-right:0px; width:150px; background-color:blue;" class="btn btn-default waves-effect btnStatus" data-item-id="@(Com.BudgetMetal.Common.Constants_CodeTable.Code_RFQ_Open)" type="button">Open</button> <button id="btn_tender_close" style="width:150px; background-color:gray;" class="btn btn-primary waves-effect btnStatus" data-item-id="@(Com.BudgetMetal.Common.Constants_CodeTable.Code_RFQ_Closed)" type="button">Closed</button>
            </div>
        </div>
        <div class="col-sm-6"></div>

    </div>
    <div class="row clearfix">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">

                <div class="body">
                    <div class="row">
                        <div class="col-sm-11">

                            <input type="text" style="width:500px" id="keyword" name="keyword" class="form-control" placeholder="<RFQ No, Company Name, Estimate Project Value>" value="">
                        </div>

                        <div class="col-sm-1">
                            <input type="hidden" name="statusId" id="statusId" value="@(Com.BudgetMetal.Common.Constants_CodeTable.Code_RFQ_Open)" />
                            @*<input type="hidden" name="Company_Id" id="Company_Id" value="@(ViewBag.Company_Id)" />*@
                            <button type="button" class="btn bg-indigo pull-right" id="btnSearch"> Search </button>
                        </div>
                    </div>
                    <div class="row" id="RFQList"></div>
                    <div class="row">
                        <div class="pagination" style="padding:10px;">

                        </div>
                    </div>
                </div>
            </div>

            @*<div class="row" id="RFQList"></div>
                <div class="row">
                    <div class="pagination" style="padding:10px;">

                    </div>
                </div>*@
        </div>
    </div>


    @*<div class="block-header">
            <h2>TENDER NOTICE BOARD</h2>
        </div>
        <div class="row clearfix">
            <div class="row" id="TenderList"></div>
        </div>*@





    @*<div style="background-position: 50% -206px;">
            <div style="position:fixed;top:70px;width: 90%;height:70px;text-align: left;z-index: 10000;">
                <div style="background-color:  rgba(1,1,1,0.5);width: 25%;float: right;padding: 5px;/* color: white; */">
                    <h5 style="color:  white !important; line-height: 2;">
                        Contact us at quote@ezytender.com
                        <br>
                        or Call +65 6519 0961
                    </h5>
                </div>
            </div>
        </div>*@
    <!-- Basic Alerts -->




<script>
    $(function () {

        loadRFQ(1);
        //loadTenderNoticBoard(1);
    });

    $("button.btnStatus").on({
        click: function () {
            $('.btnStatus').removeClass("btn-default").removeClass("btn-primary").addClass("btn-primary");
            $(this).removeClass("btn-default").removeClass("btn-primary").addClass("btn-default");
            var statusId = $(this).data("item-id");
            $('#statusId').val(statusId);
            $('#RFQList').empty();
            loadRFQ(1);
        }
    });

    $("#btnSearch").on({
        click: function () {
            $('#RFQList').empty();
            loadRFQ(1);
        }
    });

    $("#keyword").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#btnSearch").click();
        }
    });

    function loadRFQ(page) {
        var keyword = $('#keyword').val();
        var statusId = $('#statusId').val();

        var ajaxurl = "/Public/GetPublicRFQ?page=" + page + "&status="+ statusId +"&skeyword=" + encodeURIComponent(keyword);
        $.ajax({
            url: ajaxurl,
            data: { page: page, status: statusId, skeyword: keyword},
            dataType: 'json',
            success: function (response) {
                var obj = response.Result.Records;
                for (var k in obj) {
                    var item = obj[k];
                    var rfqUrl = '@Url.Action("SingleRFQ", "Public")';
                    $('#RFQList').append(
                        "<div class='clearfix' style='padding-left: 20px; padding-right: 20px;'> " +
                            "<div class='row'> " +
                                "<div class='col-sm-6'>RFQ No. " + item.Document.DocumentNo + "</div> " +
                                "<div class='col-sm-6'><span class='btn btn-success pull-right'>" + item.Document.DocumentStatus.Name + "</span></div> " +
                            "</div> " +
                        "<div class='row'> " +
                        "<div class='col-sm-12'><b>Title. <a href='" + rfqUrl + "/" + item.Id + "' target='_blank'>" + item.Document.Title + "</a></b></div> " +

                            "</div> " +
                            "<div class='row'> " +
                                "<div class='col-sm-4'>Company: " + item.Document.Company.Name + "</div> " +
                                "<div class='col-sm-4'>Estimated Project Value : $" + item.ContractValue+"</div> " +
                                "<div class='col-sm-4'></div> " +
                            "</div> " +
                            "<div class='row'> " +
                                "<div class='col-sm-4'>Open Date: " + item.StartRfqdate + "</div> " +
                                "<div class='col-sm-4'>Close Date: " + item.ValidRfqdate + "</div> " +
                                "<div class='col-sm-4'></div> " +
                                //"<div class='col-sm-4'><a href='" + item.Document.Id +"' class='btn btn-primary waves-effect pull-right'>View</a></div> " +
                            " </div> " +
                        " </div> " +
                        " <hr/> "
                    );

                }
                var totalRecord = response.Result.TotalRecords;

                var openTab = $('#btn_tender_open');
                var openTabClass = openTab.prop('class');
                if (openTabClass.includes('btn-default')) {

                    openTab.html("Open (" + totalRecord + ")")
                }

                var closeTab = $('#btn_tender_close');
                var closeTabClass = closeTab.prop('class');
                if (closeTabClass.includes('btn-default')) {

                    closeTab.html("Close (" + totalRecord + ")")
                }

                var totalpage = response.Result.TotalPage;
                var currentpage = response.Result.CurrentPage;
                if (totalpage > currentpage) {
                    $(".pagination").empty();
                    $(".pagination").append(" <a class='btn btn-md btn-default' OnClick='loadRFQ(" + response.Result.NextPage + ")'> Load More </a> ");
                } else {
                    $(".pagination").empty();
                }
                //top.resizeIframe();
                doIt();
            },
            error: function (response) {
                alert(response)
            }
        });
    }

    function doIt() {
        var elem = window.parent.document.getElementById('myIframe'); // the id of your iframe of course
        top.resizeIframe(elem);
        //elem.style.height = '40em';
    }
    


    function loadTenderNoticBoard(page) {
        var keyword = $('#keyword').val();
        var statusId = $('#statusId').val();

        var ajaxurl = "/Public/GetLoadTenderNoticBoardPublicRFQ?count=6";
        $.ajax({
            url: ajaxurl,
            data: { page: page, status: statusId, skeyword: keyword},
            dataType: 'json',
            success: function (response) {
                var obj = response.Result.Records;
                for (var k in obj) {
                    var item = obj[k];
                    var rfqUrl = '@Url.Action("SingleRFQ", "Public")';
                    $('#TenderList').append(
                        //"<div class='clearfix' style='padding-left: 20px; padding-right: 20px;'> " +
                        //    "<div class='row'> " +
                        //        "<div class='col-sm-6'>RFQ No. " + item.Document.DocumentNo + "</div> " +
                        //        "<div class='col-sm-6'><span class='btn btn-success pull-right'>" + item.Document.DocumentStatus.Name + "</span></div> " +
                        //    "</div> " +
                        //"<div class='row'> " +
                        //"<div class='col-sm-12'><b>Title. <a href='" + rfqUrl + "/" + item.Id + "' target='_blank'>" + item.Document.Title + "</a></b></div> " +

                        //    "</div> " +
                        //    "<div class='row'> " +
                        //        "<div class='col-sm-4'>Company: " + item.Document.Company.Name + "</div> " +
                        //        "<div class='col-sm-4'>Estimated Project Value : $" + item.ContractValue+"</div> " +
                        //        "<div class='col-sm-4'></div> " +
                        //    "</div> " +
                        //    "<div class='row'> " +
                        //        "<div class='col-sm-4'>Open Date: " + item.StartRfqdate + "</div> " +
                        //        "<div class='col-sm-4'>Close Date: " + item.ValidRfqdate + "</div> " +
                        //        "<div class='col-sm-4'></div> " +
                        //    " </div> " +
                        //" </div> " +
                        //" <hr/> "+

                        "<div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>" +
                            "<div class='card'>" +
                                "<div class='header bg-blue'>" +
                                    "<h2>" +
                                    "<i class='material-icons'>description</i>" +
                                        "<a href='" + rfqUrl + "/" + item.Id + "' target='_blank'>"+  item.Document.DocumentNo +"</a>"+
                                    "</h2>" +
                                "</div>" +

                                "<div class='body'>" +
                                    "<div class='list-group'>" +
                                        "<span class='btn btn-success'> " + item.Document.DocumentStatus.Name + "</span>" +
                                        "<h5> Title: <a href='" + rfqUrl + "/" + item.Id + "' target='_blank'>" + item.Document.Title + "</a></h5>" +
                                        "<h5> Company: " + item.Document.Company.Name + "</h5>" +
                                        "<h5> Estimated Project Value: $ " + item.ContractValue + "</h5>" +
                                        "<h5> Open Date: " + item.StartRfqdate + "</h5>" +
                                        "<h5> Close Date: " + item.ValidRfqdate + "</h5>" +
                                    "</div>"+
                                "</div>" +
                            "</div>" +
                        "</div>"
                    );
                }
            },
            error: function (response) {
                alert(response)
            }
        });
    }
</script>