@model Com.BudgetMetal.ViewModels.Quotation.VmQuotationItem
@{
    ViewData["Title"] = "Create";
}
<form asp-controller="Quotation" asp-action="Create" method="post" enctype="multipart/form-data" id="frmCreateQuotation">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="block-header">
        <h2>Prepare Quotation</h2>
    </div>
    <!-- Input -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        General Information
                    </h2>
                </div>
                <div class="body">

                    <div class="row clearfix">
                        <div class="col-sm-10">
                            <label for="quote_no">Quotation Reference</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" asp-for="Document.DocumentNo" readonly class="form-control" placeholder="<Auto Generate by System>">
                                    <input type="hidden" asp-for="Document.DocumentStatus_Id" value="100032">
                                    <input type="hidden" asp-for="Document.DocumentType_Id" value="100022">
                                    <input type="hidden" asp-for="Document.Company_Id" value="@ViewBag.Company_Id">
                                    <input type="hidden" asp-for="Document.CreatedBy" value="@ViewBag.UserName">
                                    <input type="hidden" asp-for="Document.UpdatedBy" value="@ViewBag.UserName">
                                    <input type="hidden" asp-for="CreatedBy" value="@ViewBag.UserName">
                                    <input type="hidden" asp-for="UpdatedBy" value="@ViewBag.UserName">
                                    <input type="hidden" asp-for="Rfq_Id">
                                    <input type="hidden" asp-for="Id" value="0" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="status">Status</label>
                            <h4><span class="label label-info">New</span></h4>
                        </div>
                        <div class="col-sm-6">
                            <label for="quote_no">RFQ Reference No</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" asp-for="Rfq.Document.DocumentNo" readonly class="form-control">
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- #END# Input -->
    <!-- Tabs -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#basic_information" data-toggle="tab">Basic Information</a></li>
                        <li role="presentation"><a href="#detailed_requirements" data-toggle="tab">Requirements</a></li>
                        <li role="presentation"><a href="#pricing" data-toggle="tab">Pricing Table</a></li>
                        <li role="presentation"><a href="#attachments" data-toggle="tab">Attachments</a></li>
                        <li role="presentation"><a href="#settings" data-toggle="tab">User Settings</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="basic_information">

                            <div class="row clearfix">
                                <div class="col-sm-3">
                                    <label for="quote_no">Contact Person</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="Document.ContactPersonName" class="form-control" placeholder="Contact Person" value="@ViewBag.FullName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="quote_no">Bid Price</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="QuotedFigure" class="form-control" placeholder="$">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="quote_no">Valid Until</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" asp-for="ValidToDate" class="form-control datepicker" placeholder="Valid Until">
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-12">
                                    <label for="quote_no">Messages to Buyer</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea rows="3" class="form-control no-resize" asp-for="Comments"></textarea>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane fade in" id="detailed_requirements">
                            <input type="hidden" id="detailRequirementLastId" value="1" />
                            <table id="requirementsTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="20%">Service Name</th>
                                        <th width="30%">Description</th>
                                        <th width="30%">Compliance</th>
                                        <th width="40%">Supplier Comments</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody data-test="abc">
                                <tbody>
                                    @{
                                        if (Model.QuotationRequirement != null)
                                        {
                                            int i = 0;
                                            foreach (var item in Model.QuotationRequirement)
                                            {
                                                <tr>
                                                    <td>@item.ServiceName <input type="hidden" name="QuotationRequirement[@i].ServiceName" class="form-control" value="@item.ServiceName" /></td>
                                                    <td>@item.Description <input type="hidden" name="QuotationRequirement[@i].Description" class="form-control" value="@item.Description" /></td>
                                                    @*<td>@item.Compliance <input type="hidden" name="QuotationRequirement[@i].InternalRefrenceCode" class="form-control" value="@item.Compliance" /></td>
                                                        <td>@item.SupplierDescription <input type="hidden" name="QuotationRequirement[@i].QuantityRequired" class="form-control" value="@item.SupplierDescription" /></td>*@
                                                    <td class="demo-radio-button">
                                                        <input id="QuotationRequirement[@i]_Compliance1" name="QuotationRequirement[@i].Compliance" type="radio" class="with-gap radio-col-red" value="Comply" checked=""><label for="QuotationRequirement[@i]_Compliance1">Comply</label>
                                                        <input id="QuotationRequirement[@i]_Compliance2" name="QuotationRequirement[@i].Compliance" type="radio" class="with-gap radio-col-red" value="Not Comply"><label for="QuotationRequirement[@i]_Compliance2">Not Comply</label>
                                                        <input id="QuotationRequirement[@i]_Compliance3" name="QuotationRequirement[@i].Compliance" type="radio" class="with-gap radio-col-red" value="Partial Comply"><label for="QuotationRequirement[@i]_Compliance3">Partial Comply</label>
                                                    </td>
                                                    @*<<td><input type="text" name="QuotationRequirement[@i].Compliance" class="form-control" value="@item.Compliance" /></td>*@
                                                    <td><input type="text" name="QuotationRequirement[@i].SupplierDescription" class="form-control" value="@item.SupplierDescription" /></td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" class="tab-pane fade in" id="pricing">
                            <input type="hidden" id="PricingLastId" value="1" />
                            <table id="pricingTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="25%">Item Name</th>
                                        <th width="35%">Item Description</th>
                                        <th width="20%">Internal Reference Code</th>
                                        <th width="10%">Unit Price</th>
                                        <th width="10%">Quantity</th>
                                        <th width="10%">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.QuotationPriceSchedule != null)
                                        {
                                            int i = 0;
                                            foreach (var item in Model.QuotationPriceSchedule)
                                            {
                                    <tr>
                                        <td>@item.ItemName <input type="hidden" name="QuotationPriceSchedule[@i].ItemName" class="form-control" value="@item.ItemName" /></td>
                                        <td>@item.ItemDescription <input type="hidden" name="QuotationPriceSchedule[@i].ItemDescription" class="form-control" value="@item.ItemDescription" /></td>
                                        <td>@item.InternalRefrenceCode <input type="hidden" name="QuotationPriceSchedule[@i].InternalRefrenceCode" class="form-control" value="@item.InternalRefrenceCode" /></td>
                                        <td><input type="text" name="QuotationPriceSchedule[@i].UnitPrice" class="form-control" value="@item.UnitPrice" /></td>
                                        <td>@item.QuantityRequired <input type="hidden" name="QuotationPriceSchedule[@i].QuantityRequired" class="form-control" value="@item.QuantityRequired" /></td>
                                        <td><input type="text" name="QuotationPriceSchedule[@i].ItemAmount" class="form-control" value="@item.ItemAmount" /></td>
                                    </tr>
                                                i++;
                                            }
                                        }
                                    }

                                </tbody>

                            </table>

                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="attachments">
                           
                            <table id="attachmentTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="25%">File Name</th>
                                        <th width="70%">Description</th>
                                        <th width="*">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <a class="btn btn-success" id="btnNewFile"> New </a>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="settings">
                            <div class="row">
                                <div class="col-sm-5">
                                    <select id="ddlUser" class="form-control selectpicker"></select>
                                </div>
                                <div class="col-sm-5">
                                    <select class="form-control show-tick" id="ddlRole" data-live-search="true" multiple></select>
                                </div>
                                <div class="col-sm-2">
                                    <a id="btnAddUser" class="btn btn-success">Add</a>
                                </div>
                            </div>

                            <table id="userSettingTable" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th width="95%">Accessible User(s)</th>
                                        <th width="*">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="hidden" name="documentUserId[]" value="@ViewBag.User_Id" />
                                            <h5> @ViewBag.FullName </h5>
                                            <input type="hidden" name="documentUserRole[]" value="1" />
                                            <span class="label bg-deep-purple">Admin</span>
                                        </td>
                                        <td></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <button type="button" id="btnSubmit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Editable Table Plugin Js
<script src="~/material_theme/plugins/editable-table/mindmup-editabletable.js"></script>
<script src="~/material_theme/js/pages/tables/editable-table.js"></script>-->
<!-- Moment Plugin Js -->
<script src="~/material_theme/plugins/momentjs/moment.js"></script>
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="~/material_theme/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<!-- Input Mask Plugin Js -->
<script src="~/material_theme/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
<!-- Autosize Plugin Js -->
<script src="~/material_theme/plugins/autosize/autosize.js"></script>
<!-- Custom Js -->
<script src="~/material_theme/js/pages/forms/basic-form-elements.js"></script>
<!-- Dropzone Css -->
<link href="~/material_theme/plugins/dropzone/dropzone.css" rel="stylesheet">
<!-- Dropzone Plugin Js -->
<script src="~/material_theme/plugins/dropzone/dropzone.js"></script>
<!-- Select Plugin Js -->
<script src="~/material_theme/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script>
    $(function () {
        loadUser();
        loadRole();
    });

     $("#btnSubmit").click(function () {
        $("#frmCreateQuotation").submit();
    });

    function loadUser() {
        var ajaxurl = '@Url.Action("GetActiveUserByCompany", "Rfq")';

        $('#ddlUser').append($('<option>', {
            value: 0,
            text: '--Select User--'
        }));

        $.ajax({
            url: ajaxurl,
            data: { CompanyId: @ViewBag.Company_Id},
            dataType: 'json',
            success: function (response) {
                console.log(response);
                var obj = response;
                for (var k in obj) {
                    var item = obj[k];
                    $('#ddlUser').append($('<option>', {
                        value: item.Id,
                        text: item.ContactName
                    }));
                }
                $("#ddlUser").selectpicker('refresh');

            },
            error: function (response) {
                alert(response)
            }

        });
    }

    $("#btnAddUser").click(function () {
        var userId = $("#ddlUser").val();
        var userName = $("#ddlUser option:selected").text();
        var roleId = $("#ddlRole").val();

        if (userId == 0 ) {
            alert("Please select the user");
        } else {
            var isExistingUser = false;
            $('#userSettingTable > tbody  > tr > td > input[name="documentUserId[]"]').each(function () {
                if (userId == $(this).val()) {
                    alert("User is already exist in list.");
                    isExistingUser = true;
                }
            });
            if (isExistingUser == false) {
                if (roleId == null) {
                    alert("Please select the role(s)");
                } else {
                    var tmptag = "<tr><td>" +
                        "<input type='hidden' name='documentUserId[]' value='" + userId + "' />" +
                        "<h5> " + userName + " </h5>" +
                        "<input type='hidden' name='documentUserRole[]' value='" + roleId + "' />";
                    $("#ddlRole option:selected").each(function () {
                        var $this = $(this);
                        if ($this.length) {
                            var selText = $this.text();
                            tmptag = tmptag + "<span class='label bg-deep-purple'> " + selText +" </span>&nbsp;  ";
                        }
                    });
                    tmptag = tmptag + "</td><td><button type='button' class='btn btn-danger waves-effect'  onclick='RemoveUserRow(this)'>Remove</button></td>";
                    tmptag = tmptag + "</tr>";
                    $("#userSettingTable > tbody").append(tmptag);
                    $("#ddlUser").val(0);
                    $("#ddlUser").selectpicker('refresh');
                    $("#ddlRole").val(0);
                    $("#ddlRole").selectpicker('refresh');
                }
            }
        }
    });

    function RemoveUserRow(item) {
        $(item).parent().parent().remove();
    }

    function loadRole() {
        var ajaxurl = '@Url.Action("GetActiveRoles", "Rfq")';

         $.ajax({
            url: ajaxurl,
            dataType: 'json',
            success: function (response) {
                //console.log(response);
                var obj = response;
                for (var k in obj) {
                    var item = obj[k];
                    $('#ddlRole').append($('<option>', {
                        value: item.Id,
                        text: item.Name
                    }));

                }
                $("#ddlRole").selectpicker('refresh');

            },
            error: function (response) {
                alert(response)
            }

        });
    }

</script>

<!-- Create RFQ Js -->
<script src="~/material_theme/js/Quotation/create.js"></script>
