@model Com.BudgetMetal.ViewModels.Quotation.VmQuotationItem
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "View";
}
@{
    string currentCompanyType = Context.Session.GetString("C_BusinessType");
    string Code_C_Buyer = Com.BudgetMetal.Common.Constants_CodeTable.Code_C_Buyer.ToString();

}


<div class="block-header">
    <h2>Prepare Quotation</h2>
</div>
<!-- Input -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    General Information

                </h2>

            </div>
            <div class="body">

                <div class="row clearfix">
                    <div class="col-sm-10">
                        <label for="quote_no">Quotation Reference</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" asp-for="Document.DocumentNo" readonly class="form-control" placeholder="<Auto Generate by System>">
                                <input type="hidden" asp-for="Document.DocumentStatus_Id">
                                <input type="hidden" asp-for="Document.DocumentType_Id">
                                <input type="hidden" asp-for="Document.Company_Id">
                                <input type="hidden" asp-for="Document.CreatedBy">
                                <input type="hidden" asp-for="Document.UpdatedBy">
                                <input type="hidden" asp-for="CreatedBy">
                                <input type="hidden" asp-for="CreatedDate">
                                <input type="hidden" asp-for="Document.CreatedDate">
                                <input type="hidden" asp-for="UpdatedBy">
                                <input type="hidden" name="Id" value="@Model.Id">
                                <input type="hidden" asp-for="Document_Id">
                                <input type="hidden" asp-for="Rfq_Id">
                                <input type="hidden" asp-for="Document.Id">
                                <input type="hidden" asp-for="IsActive" />
                                <input type="hidden" asp-for="Document.IsActive" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label for="status">Status</label>
                        <h4><span class="label label-info">@Model.Document.DocumentStatus.Name</span></h4>
                    </div>
                    <div class="col-sm-6">
                        <label for="quote_no">RFQ Reference No</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" asp-for="Rfq.Document.DocumentNo" readonly class="form-control">
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
<!-- #END# Input -->
<!-- Tabs -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a href="#basic_information" data-toggle="tab">Basic Information</a></li>
                    <li role="presentation"><a href="#detailed_requirements" data-toggle="tab">Requirements</a></li>
                    <li role="presentation"><a href="#pricing" data-toggle="tab">Pricing Table</a></li>
                    <li role="presentation"><a href="#attachments" data-toggle="tab">Attachments</a></li>
                    @{
                        if (Code_C_Buyer != currentCompanyType)
                        {
                            <li role="presentation"><a href="#settings" data-toggle="tab">Users</a></li>
                            <li role="presentation"><a href="#DocumentActivity" data-toggle="tab">Activity</a></li>
                        }

                    }
                    @*<li role="presentation"><a href="#settings" data-toggle="tab">User Settings</a></li>
                        <li role="presentation"><a href="#DocumentActivity" data-toggle="tab">Activity</a></li>*@
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="basic_information">

                        <div class="row clearfix">
                            <div class="col-sm-3">
                                <label for="quote_no">Contact Person</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" asp-for="Document.ContactPersonName" class="form-control" placeholder="Contact Person" value="@ViewBag.FullName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="quote_no">Bid Price</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" asp-for="QuotedFigure" class="form-control" placeholder="$">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="quote_no">Valid Until</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" asp-for="ValidToDate" class="form-control" placeholder="Valid Until">
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-12">
                                <label for="quote_no">Messages to Buyer</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <textarea rows="3" class="form-control no-resize" asp-for="Comments" readonly></textarea>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div role="tabpanel" class="tab-pane fade in" id="detailed_requirements">
                        <input type="hidden" id="detailRequirementLastId" value="1" />
                        <table id="requirementsTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th width="20%">Service Name</th>
                                    <th width="30%">Description</th>
                                    <th width="30%">Compliance</th>
                                    <th width="40%">Supplier Comments</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody data-test="abc">
                            <tbody>
                                @{
                                    if (Model.QuotationRequirement != null)
                                    {
                                        int i = 0;
                                        foreach (var item in Model.QuotationRequirement)
                                        {
                                            <tr>
                                                <td>@item.ServiceName <input type="hidden" name="QuotationRequirement[@i].ServiceName" class="form-control" value="@item.ServiceName" /></td>
                                                <td>@item.Description <input type="hidden" name="QuotationRequirement[@i].Description" class="form-control" value="@item.Description" /></td>
                                                @*<td>@item.Compliance<input type="hidden" name="QuotationRequirement[@i].Compliance" class="form-control" value="@item.Compliance" /></td>*@
                                                <td class="demo-radio-button">
                                                    <input id="QuotationRequirement[@i]_Compliance1" name="QuotationRequirement[@i].Compliance" type="radio" class="with-gap radio-col-red" value="QuotationRequirement[@i].Compliance" readonly="readonly"><label for="QuotationRequirement[@i]_Compliance1">Comply</label>
                                                    <input id="QuotationRequirement[@i]_Compliance2" name="QuotationRequirement[@i].Compliance" type="radio" class="with-gap radio-col-red" value="QuotationRequirement[@i].Compliance" readonly="readonly"><label for="QuotationRequirement[@i]_Compliance2">Not Comply</label>
                                                    <input id="QuotationRequirement[@i]_Compliance3" name="QuotationRequirement[@i].Compliance" type="radio" class="with-gap radio-col-red" value="QuotationRequirement[@i].Compliance" readonly="readonly"><label for="QuotationRequirement[@i]_Compliance3">Partial Comply</label>
                                                </td>
                                                <td>@item.SupplierDescription<input type="hidden" name="QuotationRequirement[@i].SupplierDescription" class="form-control" value="@item.SupplierDescription" /></td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div role="tabpanel" class="tab-pane fade in" id="pricing">
                        <input type="hidden" id="PricingLastId" value="1" />
                        <table id="pricingTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th width="25%">Item Name</th>
                                    <th width="35%">Item Description</th>
                                    <th width="20%">Internal Reference Code</th>
                                    <th width="10%">Unit Price</th>
                                    <th width="10%">Quantity</th>
                                    <th width="10%">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.QuotationPriceSchedule != null)
                                    {
                                        int i = 0;
                                        foreach (var item in Model.QuotationPriceSchedule)
                                        {
                                            <tr>
                                                <td>@item.ItemName <input type="hidden" name="QuotationPriceSchedule[@i].ItemName" class="form-control" value="@item.ItemName" /></td>
                                                <td>@item.ItemDescription <input type="hidden" name="QuotationPriceSchedule[@i].ItemDescription" class="form-control" value="@item.ItemDescription" /></td>
                                                <td>@item.InternalRefrenceCode <input type="hidden" name="QuotationPriceSchedule[@i].InternalRefrenceCode" class="form-control" value="@item.InternalRefrenceCode" /></td>
                                                <td> @item.UnitPrice <input type="hidden" name="QuotationPriceSchedule[@i].UnitPrice" class="form-control" value="@item.UnitPrice" /></td>
                                                <td>@item.QuantityRequired <input type="hidden" name="QuotationPriceSchedule[@i].QuantityRequired" class="form-control" value="@item.QuantityRequired" /></td>
                                                <td> @item.ItemAmount <input type="hidden" name="QuotationPriceSchedule[@i].ItemAmount" class="form-control" value="@item.ItemAmount" /></td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                }

                            </tbody>

                        </table>

                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="attachments">

                        <table id="attachmentTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th width="25%">File Name</th>
                                    <th width="70%">Description</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.Document.Attachment != null)
                                    {
                                        int i = 0;
                                        foreach (var item in Model.Document.Attachment)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="hidden" name="Document.Attachment[@i].Id" value="@item.Id" />

                                                    <a href="#" class="btn_download" data-fileid="@item.Id">@item.FileName</a>
                                                </td>
                                                <td>@item.Description"</td>


                                            </tr>
                                            i++;
                                        }
                                    }
                                }

                            </tbody>

                        </table>
                        <iframe id="iframe_download_file" style="display:none" src=""></iframe>

                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="settings">


                        <table id="userSettingTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="95%">Accessible User(s)</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.Document.DocumentUserDisplay != null)
                                    {
                                        int i = 0;
                                        foreach (var item in Model.Document.DocumentUserDisplay)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="hidden" name='documentUserId[]' value="@item.User_Id" />
                                                    <h5>@item.UserName</h5>
                                                    <input type='hidden' name='documentUserRole[]' value='@item.Roles_Id' />
                                                    @{
                                                        foreach (string tmpRole in item.Roles)
                                                        {

                                                            <span class='label bg-deep-purple'>@tmpRole</span>
                                                        }
                                                    }

                                                </td>


                                            </tr>
                                            i++;
                                        }
                                    }
                                }

                            </tbody>
                        </table>
                    </div>

                    <div role="tabpanel" class="tab-pane fade in" id="DocumentActivity">

                        <table id="pricingTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th width="25%">Action</th>
                                    <th width="35%">Created By</th>
                                    <th width="20%">Created Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.Document.DocumentActivityList != null)
                                    {

                                        foreach (var item in Model.Document.DocumentActivityList)
                                        {
                                            <tr>
                                                <td>@item.Action </td>
                                                <td>@item.CreatedBy</td>
                                                <td>@item.CreatedDate</td>
                                            </tr>
                                        }
                                    }
                                }

                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <input type="hidden" id="loadinvitedsupplier" value="0" />
                @{
                    if (Code_C_Buyer == currentCompanyType)
                    {
                        if (Model.Document.DocumentStatus_Id == Com.BudgetMetal.Common.Constants_CodeTable.Code_Quotation_Submitted)
                        {
                            <a class="btn btn-success" id="btnAccept" href='#'>Accept</a>
                            <a class="btn btn-danger" id="btnReject" href='#'>Reject</a>
                        }
                    }
                    else
                    {
                        if (Model.Document.DocumentStatus_Id == Com.BudgetMetal.Common.Constants_CodeTable.Code_Quotation_Draft)
                        {
                            if (ViewBag.CompanyAdmin == true || ViewBag.DocumentOwner == true)
                            {
                                <a class="btn btn-warning" href='@Url.Action("Edit","Quotation",new { id= Model.Id })'>Edit Quotation</a>
                            }
                            <button type="button" id="btnCancel" class="btn btn-danger">Cancel</button>
                        }
                        else if (Model.Document.DocumentStatus_Id == Com.BudgetMetal.Common.Constants_CodeTable.Code_Quotation_Submitted)
                        {
                            <button type="button" id="btnCancel" class="btn btn-danger">Cancel</button>
                        }
                    }
                }

            </div>
        </div>
    </div>
</div>

<script src="~/material_theme/plugins/momentjs/moment.js"></script>
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="~/material_theme/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<!-- Input Mask Plugin Js -->
<script src="~/material_theme/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
<!-- Autosize Plugin Js -->
<script src="~/material_theme/plugins/autosize/autosize.js"></script>
<!-- Custom Js -->
<script src="~/material_theme/js/pages/forms/basic-form-elements.js"></script>
<!-- Dropzone Css -->
<link href="~/material_theme/plugins/dropzone/dropzone.css" rel="stylesheet">
<!-- Dropzone Plugin Js -->
<script src="~/material_theme/plugins/dropzone/dropzone.js"></script>
<!-- Select Plugin Js -->
<script src="~/material_theme/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script>
    $(function () {
        $('#frmCreateQuotation input').attr('readonly', 'readonly');
    });


    $(".btn_download").on("click", function () {

        var fileId = $(this).data('fileid');
         var ajaxurl = '@Url.Action("AttachmentDownload", "Rfq")';
        var url = ajaxurl+ "?fileid=" + fileId;
        $('#iframe_download_file').attr('src', url);
        //alert('download - ' + $('#iframe_download_file').attr('src'));

    });

    $("#btnCancel").click(function () {
        var ajaxurl = '@Url.Action("CancelQuotation", "Quotation")';
        $('.page-loader-wrapper').fadeIn();
            $.ajax({
                url: ajaxurl,
                data: {documentId: @(Model.Document.Id)},
                dataType: 'json',
                success: function (response) {
                    //console.log(response);
                    var obj = response;
                    if (obj.IsSuccess) {
                        var redirecturl = '@Url.Action("Index", "Quotation")';
                        window.location.href = redirecturl;
                    } else {
                        alert(obj.MessageToUser);
                    }
                    $('.page-loader-wrapper').fadeOut();
                },
                error: function (response) {
                    alert(response)
                }
            });
    });
</script>


