@model Com.BudgetMetal.ViewModels.Company.VmCompanyItem
@using System.Linq;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    About
                </h2>
                <br />
                <small>@Html.DisplayFor(model => model.About)</small>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">edit</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Edit</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <!-- Linked Items -->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-blue">
                <h2>
                    <i class="material-icons">details</i>
                    Details
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">edit</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Edit Address</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="list-group">
                    <a href="javascript:void(0);" class="list-group-item">
                        UEN No. : <b>@Html.DisplayFor(model => model.RegNo)</b>
                    </a>
                    <a href="javascript:void(0);" class="list-group-item">Address: <b>@Html.DisplayFor(model => model.Address)</b></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-blue">
                <h2>
                    <i class="material-icons">stars</i>
                    Rating
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">

                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="list-group">
                    <a href="javascript:void(0);" class="list-group-item">
                        Supplier Avg Rating: <b>@Html.DisplayFor(model => model.SupplierAvgRating)</b>
                    </a>
                    <a href="javascript:void(0);" class="list-group-item">
                        Buyer Avg Rating: <b>@Html.DisplayFor(model => model.BuyerAvgRating)</b>
                    </a>
                    @*<a href="javascript:void(0);" class="list-group-item">
                            Awarded Quotation: <b>@Html.DisplayFor(model => model.AwardedQuotation)</b>
                        </a>
                        <a href="javascript:void(0);" class="list-group-item">
                            Submitted Quotation: <b>@Html.DisplayFor(model => model.SubmittedQuotation)</b>
                        </a>
                        <a href="javascript:void(0);" class="list-group-item">
                            Maximum RFQ Per Week: <b>@Html.DisplayFor(model => model.MaxRFQPerWeek)</b>
                        </a>*@
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Linked Items -->
    <!-- Button Items -->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-blue">
                <h2>
                    <i class="material-icons">feedback</i>
                    Feedbacks
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">

                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="list-group">
                    <h2>0 Count.</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Button Items -->
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingOne_1">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseOne_1" aria-expanded="false" aria-controls="collapseOne_1" class="collapsed">
                            User List
                        </a>
                    </h4>
                </div>
                <div id="collapseOne_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_1" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="body table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> Name </th>
                                        <th>Email</th>
                                        <th>Job Title</th>
                                        <th>Type</th>
                                        <th>User Role</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int counter = 1;
                                        string userRole = "";
                                        if (Model.UserList != null)
                                        {
                                            foreach (var item in Model.UserList)
                                            {
                                                userRole = string.Join(", ", item.RoleList.ToList());
                                                <tr>
                                                    <td> @counter </td>
                                                    <td> @item.UserName </td>
                                                    <td> @item.EmailAddress </td>
                                                    <td> @item.JobTitle </td>
                                                    <td> @item.UserType </td>
                                                    <td> @userRole </td>
                                                </tr>
                                                counter++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel-group" id="accordion_2" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingOne_2">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion_2" href="#collapseOne_2" aria-expanded="false" aria-controls="collapseOne_2" class="collapsed">
                            Fedback
                        </a>
                    </h4>
                </div>
                <div id="collapseOne_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_2" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="body table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> Rating </th>
                                        <th>User</th>
                                        <th>Feedback</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                        if (Model.UserList != null)
                                        {
                                            foreach (var item in Model.RatingList)
                                            {
                                                <tr>
                                                    <td> @i </td>
                                                    <td> @item.ServiceQuality </td>
                                                    <td> @item.UserName </td>
                                                    <td> @item.Description </td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

