@model Com.BudgetMetal.ViewModels.Company.VmCompanyItem
@using System.Linq;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    About
                </h2>
                <br />
                <div id="originalAbout" style="width:100%" rows="15" readonly>@Html.DisplayFor(model => model.About)</div>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        @{
                            bool tf = Convert.ToBoolean(ViewData["isAdmin"]);
                        }
                        @{ if (tf)
                            {
                                <a class=" waves-effect waves-block" data-toggle="modal" data-target="#aboutModal">
                                    <i class="material-icons">edit</i>
                                </a>
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <!-- Linked Items -->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-blue">
                <h2>
                    <i class="material-icons">details</i>
                    Details
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        @{ if (tf)
                            {
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">edit</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a class="waves-effect waves-block" data-toggle="modal" data-target="#addressModal">Edit Address</a></li>
                                </ul>
                            }
                        }
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="list-group">
                    <a href="javascript:void(0);" class="list-group-item">
                        UEN No. : <b>@Html.DisplayFor(model => model.RegNo)</b>
                    </a>
                    <a href="javascript:void(0);" class="list-group-item">
                        Industry Certification. : <b>@Html.DisplayFor(model => model.IndustryCertification)</b>
                    </a>
                    <a href="javascript:void(0);" class="list-group-item">Address: <span id="originalAddress">@Html.DisplayFor(model => model.Address)</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-blue">
                <h2>
                    <i class="material-icons">stars</i>
                    Rating
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">

                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="list-group">
                    <a href="javascript:void(0);" class="list-group-item">
                        Supplier Avg Rating: <span class="stars">@Html.DisplayFor(model => model.SupplierAvgRating)</span>
                    </a>
                    <a href="javascript:void(0);" class="list-group-item">
                        Buyer Avg Rating: <span class="stars">@Html.DisplayFor(model => model.BuyerAvgRating)</span>
                    </a>
                    @*<a href="javascript:void(0);" class="list-group-item">
                            Awarded Quotation: <b>@Html.DisplayFor(model => model.AwardedQuotation)</b>
                        </a>
                        <a href="javascript:void(0);" class="list-group-item">
                            Submitted Quotation: <b>@Html.DisplayFor(model => model.SubmittedQuotation)</b>
                        </a>
                        <a href="javascript:void(0);" class="list-group-item">
                            Maximum RFQ Per Week: <b>@Html.DisplayFor(model => model.MaxRFQPerWeek)</b>
                        </a>*@
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Linked Items -->
    <!-- Button Items -->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-blue">
                <h2>
                    <i class="material-icons">feedback</i>
                    Feedbacks
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">

                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="list-group">
                    <h2><span id="feedbackCount"></span></h2>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Button Items -->
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingOne_1">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseOne_1" aria-expanded="false" aria-controls="collapseOne_1" class="collapsed">
                            User List
                        </a>
                    </h4>
                </div>
                <div id="collapseOne_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_1" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="body table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> Name </th>
                                        <th>Email</th>
                                        <th>Job Title</th>
                                        <th>Type</th>
                                        <th>Is Admin</th>
                                        <th>Role</th>
                                        @{ if (tf)
                                            {
                                                <th></th>
                                                <th></th>
                                            }
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int counter = 1;
                                        string buttonText = "";
                                        string userRole = "";
                                        string className = "";
                                        if (Model.UserList != null)
                                        {
                                            foreach (var item in Model.UserList)
                                            {
                                                buttonText = (item.IsConfirmed) ? "Active" : "Inactive";
                                                className = (item.IsConfirmed) ? "btn btn-success" : "btn btn-danger";
                                                <tr>
                                                    <td> @counter </td>
                                                    <td> @item.UserName </td>
                                                    <td> @item.EmailAddress </td>
                                                    <td> @item.JobTitle </td>
                                                    <td> @item.UserType </td>
                                                    <td> @item.IsConfirmed </td>
                                                    <td id="UserRoleId_@item.Id">
                                                        @{
                                                            userRole = "";
                                                            if (item.RoleList.Count > 0)
                                                            {
                                                                foreach (var roleItem in item.RoleList)
                                                                {
                                                                    userRole += "" + roleItem.Id + ",";
                                                                    <span class='badge bg-cyan'>  @roleItem.Name  </span>
                                                                }
                                                            }
                                                        }
                                                    </td>
                                                    @{ if (tf)
                                                        {
                                                            <td><button type='button' id='btnInvite_@item.Id' class='@className' data-myval='@buttonText' onclick='checkSupplier(@item.Id)'> @buttonText </button></td>
                                                            <td>
                                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userRoleModal" data-userRole="@userRole" data-userId="@item.Id">Edit Role</button>
                                                            </td>
                                                        }
                                                    }
                                                </tr>
                                                counter++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel-group" id="accordion_2" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingOne_2">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion_2" href="#collapseOne_2" aria-expanded="false" aria-controls="collapseOne_2" class="collapsed">
                            Fedback
                        </a>
                    </h4>
                </div>
                <div id="collapseOne_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_2" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="body table-responsive">
                            <table class="table table-striped" id="tbRating">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> Quotation </th>
                                        <th> Service </th>
                                        <th> Delivery </th>
                                        <th> Price </th>
                                        <th>Title</th>
                                        <th>Feedback</th>
                                        <th>User</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@{
                                            int i = 1;
                                            if (Model.UserList != null)
                                            {
                                                foreach (var item in Model.RatingList)
                                                {
                                                    <tr>
                                                        <td> @i </td>
                                                        <td> @item.ServiceQuality </td>
                                                        <td> @item.UserName </td>
                                                        <td> @item.Description </td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        }*@
                                </tbody>
                            </table>
                            <div class="row" id="pagination">
                                <div class="col-sm-12" id="divPagination">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="aboutModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">About Company</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <textarea name="about" id="txt_about" rows="5" style="width:100%; border:solid 0px; resize: none;">@Html.DisplayFor(model => model.About)</textarea>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSubmit">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="addressModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Address</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <textarea name="about" id="txt_address" rows="5" style="width:100%; resize: none;">@Html.DisplayFor(model => model.Address)</textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSubmitAddress">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="userRoleModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User Role</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @*<label asp-for="RoleList" class="control-label">Roles</label>
                        <select asp-for="RoleList" multiple="multiple" id="RoleList" name="RoleList" asp-items="@(new SelectList(Model.RoleList, "Id", "Name"))" class="form-control">
                            <option>Please select</option>
                        </select>
                        <span asp-validation-for="RoleList" class="text-danger"></span>*@
                    <textarea hidden name="userId" id="userId" rows="1" style="width:100%; resize: none;"></textarea>
                    <textarea hidden name="userRole" id="userRole" rows="1" style="width:100%; resize: none;"></textarea>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <select id="ddluserRole" class="form-control selectpicker" multiple>
                                <option value="">-- Please select --</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSubmitUserRole">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Editable Table Plugin Js -->
<script src="~/material_theme/plugins/editable-table/mindmup-editabletable.js"></script>
<script src="~/material_theme/js/pages/tables/editable-table.js"></script>
<!-- Moment Plugin Js -->
<script src="~/material_theme/plugins/momentjs/moment.js"></script>
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="~/material_theme/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<!-- Input Mask Plugin Js -->
<script src="~/material_theme/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
<!-- Autosize Plugin Js -->
<script src="~/material_theme/plugins/autosize/autosize.js"></script>
<!-- Custom Js -->
<script src="~/material_theme/js/pages/forms/basic-form-elements.js"></script>
<!-- Dropzone Css -->
<link href="~/material_theme/plugins/dropzone/dropzone.css" rel="stylesheet">
<!-- Dropzone Plugin Js -->
<script src="~/material_theme/plugins/dropzone/dropzone.js"></script>
<!-- Bootstrap Colorpicker Js -->
<script src="~/material_theme/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

<!-- Select Plugin Js -->
<script src="~/material_theme/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Multi Select Plugin Js -->
<script src="~/material_theme/plugins/multi-select/js/jquery.multi-select.js"></script>

<script>
    $(function () {
        loadTimeLine(1);

        

        $('#btnSubmit').on('click', function(){
            var about = $('#txt_about').val();
            var ajaxurl = '@Url.Action("EditCompanyAbout", "Companies")';
            $.ajax({
                url: ajaxurl,
                data: { CompanyId: @Model.Id, About: about },
                dataType: 'json',
                type: 'post',
                success: function (response) {
                    //text box data clear and reset again.
                    if (response.IsSuccess) {
                        $('#originalAbout').empty();
                        $('#originalAbout').append(about);
                        $('#aboutModal').modal('hide');
                        alert(response.MessageToUser);
                    } else {
                        alert(response.MessageToUser);
                    }
                },
                error: function (response) {
                    alert(response)
                }
            });
        });

        $('#btnSubmitAddress').on('click', function(){
            var address = $('#txt_address').val();
            var ajaxurl = '@Url.Action("EditCompanyAddress", "Companies")';
            $.ajax({
                url: ajaxurl,
                data: { CompanyId: @Model.Id, Address: address },
                dataType: 'json',
                type: 'post',
                success: function (response) {
                    //text box data clear and reset again.
                    if (response.IsSuccess) {
                        $('#originalAddress').empty();
                        $('#originalAddress').append(address);
                        $('#addressModal').modal('hide');
                        alert(response.MessageToUser);
                    } else {
                        alert(response.MessageToUser);
                    }
                },
                error: function (response) {
                    alert(response)
                }
            });
        });

        $('#userRoleModal').on('show.bs.modal', function (event) {

            var button = $(event.relatedTarget); // Button that triggered the modal
            //var code = button.data('code'); // Extract info from data-* attributes
            var userRole = button.data('userrole'); // Extract info from data-* attributes

            var userId = button.data('userid');

            //alert("userid" + userId + " userrole " + userRole);
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            modal.find('#userId').val("");
            modal.find('#userId').val(userId);
            modal.find('#userRole').val("");
            modal.find('#userRole').val(userRole);
            var roleType = "company";
            $("ddluserRole").empty();
            loaduserRole(roleType);
        });

        $("#ddluserRole").change(function () {
            //var industryId = $('#ddluserRole').val();
            //var roleType = "admin";
            //loaduserRole(roleType);
            var userrole = $("#ddluserRole").val();
            console.log(userrole);
        });

        $('#btnSubmitUserRole').on('click', function(){
            var userId =  $('#userId').val();
            var userRole = $('#ddluserRole').val();
            var ajaxurl = '@Url.Action("EditCompanyUserRole", "Companies")';
            $.ajax({
                url: ajaxurl,
                data: { CompanyId: @Model.Id, UserRole: userRole, UserId: userId },
                dataType: 'json',
                type: 'post',
                success: function (response) {
                    //text box data clear and reset again.
                    if (response.IsSuccess) {
                        console.log(userRole);
                        $('#UserRoleId_' + userId).empty();
                        $('#userRoleModal').modal('hide');
                        //$('#UserRoleId_' + userId).append("<span class='badge bg-cyan'> Company Administrator </span>");
                        //alert(response.MessageToUser);
                        var array = response.MessageToUser.split('|');
                        var roleText = "";
                        for (val of array) {
                            console.log(val);
                            roleText += "<span class='badge bg-cyan'>" + val + " </span>";
                        }
                        if (roleText.trim().length > 0) {
                            $('#UserRoleId_' + userId).append(roleText);
                        }
                        else {
                            $('#UserRoleId_' + userId).empty();
                        }
                    } else {
                        //alert(response.MessageToUser);
                        $('#UserRoleId_' + userId).empty();
                    }
                },
                error: function (response) {
                    alert(response)
                }
            });
        });
    });

    function checkSupplier(n) {
        var isConfirmStatus = $('#btnInvite_' + n).attr('data-myval')
        var ajaxurl = '@Url.Action("EditCompanyUser", "Companies")';
        $.ajax({
            url: ajaxurl,
            data: { CompanyId: @Model.Id, UserId: n, IsConfirmStatus: isConfirmStatus },
            dataType: 'json',
            type: 'post',
            success: function (response) {
                //text box data clear and reset again.
                if (response.IsSuccess) {
                    if (isConfirmStatus == "Inactive") {
                        $("#btnInvite_" + n).removeClass("btn btn-danger").addClass("btn btn-success");
                        $('#btnInvite_' + n).attr("data-myval", "Active");
                        $("#btnInvite_" + n).text("Active");
                    } else {
                        $("#btnInvite_" + n).removeClass("btn btn-success").addClass("btn btn-danger");
                        $('#btnInvite_' + n).attr("data-myval", "Inactive");
                        $("#btnInvite_" + n).text("Inactive");
                    }
                    alert(response.MessageToUser);
                } else {
                    alert(response.MessageToUser);
                }
            },
            error: function (response) {
                alert(response)
            }
        });
    }

    function loaduserRole(roleType) {
        $('#ddluserRole').empty();
        if (roleType == "") {
            $("#ddluserRole").selectpicker('refresh');
        } else {
            $('#hduserRole').val($("#ddluserRole option:selected").val());
            //alert($('#hdIndustry').val())
            var ajaxurl = '@Url.Action("GetuserRole", "Companies")';

            $.ajax({
                url: ajaxurl,
                data: { RoleType: roleType},
                dataType: 'json',
                success: function (response) {
                    var obj = response;
                    for (var k in obj) {
                        var item = obj[k];
                        var selected = "";
                        var selectedTags = $("#userRole").val();

                        var array = selectedTags.split(',');
                        array.forEach(function (i) {
                            if (i == item.Id) {
                                selected = "selected";
                            }
                        });
                        var tmpstring = "<option value='" + item.Id + "' " + selected + ">" + item.Name + "</option>"
                        $('#ddluserRole').append(tmpstring);
                    }

                    $("#ddluserRole").selectpicker('refresh');
                    $("#hduserRole").val("0");
                },
                error: function (response) {
                    alert(response)
                }
            });
        }
    }

    $.fn.stars = function () {
        return $(this).each(function () {
            // Get the value
            var val = parseFloat($(this).html());
            // Make sure that the value is in 0 - 5 range, multiply to get width
            var size = Math.max(0, (Math.min(5, val))) * 16;
            // Create stars holder
            var $span = $('<span />').width(size);
            // Replace the numerical value with stars
            $(this).html($span);
        });
    }

    function loadTimeLine(page) {
        var ajaxurl = '@Url.Action("GetRatingData", "Companies")';

        $('.page-loader-wrapper').fadeIn();
        $.ajax({
            url: ajaxurl,
            data: { page: page, companyId: @Model.Id},
            dataType: 'json',
            success: function (response) {

                console.log(response);
                var i = 1;
                var obj = response.Result.Records;
                console.log(obj);
                for (var k in obj) {
                    var item = obj[k];

                    $('#tbRating > tbody').append(
                        "<tr>" +
                        "<td>" + i + "</td>" +
                        "<td><span class='stars'>" + item.SpeedOfQuotation + "</span></td>" +
                        "<td><span class='stars'>" + item.ServiceQuality + "</span></td>" +
                        "<td><span class='stars'>" + item.SpeedofDelivery + "</span></td>" +
                        "<td><span class='stars'>" + item.Price + "</span></td>" +
                        "<td>" + item.Title + "</td>" +
                        "<td>" + item.Description + "</td>" +
                        "<td>" + item.UserName + "</td>" +
                        "</tr>"
                    );
                    i++;
                }
                var totalpage = response.Result.TotalPage;
                var currentpage = response.Result.CurrentPage;
                console.log(totalpage);
                console.log(currentpage);
                if (totalpage > currentpage) {
                    $("#divPagination").empty();
                    $("#divPagination").append(" <a class='btn btn-md btn-default' OnClick='loadQuotation(" + response.Result.NextPage + ")'> Load More </a> ");
                } else {
                    $("#divPagination").empty();

                }

                $('span.stars').stars();
            },
            error: function (response) {
                alert(response)
                $('.page-loader-wrapper').fadeOut();
            }
        });
    }

</script>