@model Com.BudgetMetal.ViewModels.User.VmUserPage

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Result.Records[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result.Records[0].EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result.Records[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result.Records[0].ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result.Records[0].ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result.Records[0].JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result.Records[0].IsConfirmed)
            </th>
            <th>
                Company
            </th>
            <th>
                User Type
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Result.Records.Count > 0)
        {
            @foreach (var item in Model.Result.Records)
            {
                <tr>
                    <td> @item.UserName </td>
                    <td> @item.EmailAddress </td>
                    <td> @item.Password </td>
                    <td>@item.ContactName</td>
                    <td> @item.ContactNumber </td>
                    <td> @item.JobTitle </td>
                    <td> @item.IsConfirmed </td>
                    <td> @item.Company.Name </td>
                    <td> @item.CodeTable.Name </td>
                    <td hidden="hidden"> @item.Id </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

