
@{
    ViewData["Title"] = "Timeline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Timeline</h2>

<div class="row">
    <div class="col-md-12">
        <!-- The time line -->
        <ul class="timeline" id="timelineList">
           
        </ul>
    </div>
    <div class="col-sm-12 pagination">

    </div>
    <!-- /.col -->
</div>

<script>
    $(function () {
        $('.page-loader-wrapper').fadeIn();
        $('#timelineList').empty();
        loadTimeLine(1);
    });



    $("#btnSearch").on({
        click: function () {
            $('#timelineList').empty();
            loadTimeLine(1);
        }
    });

    function loadTimeLine(page) {
        var keyword = $('#keyword').val();
        var ajaxurl = '@Url.Action("GetTimeLineData", "TimeLines")';
        
        $('.page-loader-wrapper').fadeIn();
        $.ajax({
            url: ajaxurl,
            data: { page: page, skeyword: keyword},
            dataType: 'json',
            success: function (response) {
                var obj = response.Result.Records;
                var strTimeLineList = "";
                var envelope = ["bg-blue", "bg-gray", "bg-green"];
                for (var k in obj) {
                    var item = obj[k];
                    strTimeLineList = strTimeLineList + "<li class='time-label'>" +
                        "<span class='bg-red'>" + item.StrGroupDate + "</span>" +
                        "</li>";
                    var itemRecord = item.Records;
                    for (var j in itemRecord) {
                        var subItem = itemRecord[j];
                        var envelopeColor = "bg-blue";
                        var strurl = "";
                        if (subItem.MessageType == "@( Com.BudgetMetal.Common.Constants_CodeTable.Code_TM_Rfq)") {
                            envelopeColor = "bg-green";
                            strurl = '@Url.Action("View", "Rfq")';
                        }
                        else if (subItem.MessageType == "@( Com.BudgetMetal.Common.Constants_CodeTable.Code_TM_Quotation)") {
                            envelopeColor = "bg-grey";
                            strurl = '@Url.Action("View", "Quotation")';
                        }
                        strTimeLineList +=
                            "<li>" +
                            "<i class='fa fa-envelope " + envelopeColor + "'></i>" +
                                "<div class='timeline-item'>" +
                                    "<span class='time'><i class='fa fa-clock-o'></i>" + subItem.Time + "</span>" +
                                    "<h3 class='timeline-header'>By " + subItem.UserName + "</h3>" +
                                    "<div class='timeline-body'>" + subItem.Message + "</div>" +
                                    "<div class='timeline-footer'><a href='" +strurl +"/"+ subItem.DocumentUrl + "' class='btn btn-primary btn-xs' target='_blank'>View Document</a>" +
                                "</div>"
                            "</li>";
                    }
                }
                $('#timelineList').append(strTimeLineList);
                var totalpage = response.Result.TotalPage;
                var currentpage = response.Result.CurrentPage;
                if (totalpage > currentpage) {
                    $(".pagination").empty();
                    $(".pagination").append(" <a class='btn btn-md btn-default' OnClick='loadTimeLine(" + response.Result.NextPage + ")'> Load More </a> ");
                } else {
                    $(".pagination").empty();
                }
                $('.page-loader-wrapper').fadeOut();
            },
            error: function (response) {
                alert(response)
                $('.page-loader-wrapper').fadeOut();
            }
        });
    }
</script>