
@{
    ViewData["Title"] = "Timeline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Timeline</h2>

<div class="row">
    <div class="col-md-12">
        <!-- The time line -->
        <ul class="timeline" id="timelineList">
            <!-- timeline time label -->
            <li class="time-label">
                <span class="bg-red">
                    10 Feb. 2014
                </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-envelope bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                    <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
                    <div class="timeline-body">
                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                        quora plaxo ideeli hulu weebly balihoo...
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">Read more</a>
                        <a class="btn btn-danger btn-xs">Delete</a>
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-user bg-aqua"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                    <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-comments bg-yellow"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
                    <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
                    <div class="timeline-body">
                        Take me to your leader!
                        Switzerland is small and neutral!
                        We are more like Germany, ambitious and misunderstood!
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline time label -->
            <li class="time-label">
                <span class="bg-green">
                    3 Jan. 2014
                </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-camera bg-purple"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                    <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
                    <div class="timeline-body">
                        Take me to your leader!
                        Switzerland is small and neutral!
                        We are more like Germany, ambitious and misunderstood!
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-video-camera bg-maroon"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>
                    <h3 class="timeline-header"><a href="#">Mr. Doe</a> shared a video</h3>
                    <div class="timeline-body">
                        Take me to your leader!
                        Switzerland is small and neutral!
                        We are more like Germany, ambitious and misunderstood!
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline time label -->
            <li class="time-label">
                <span class="bg-red">
                    10 Feb. 2014
                </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-envelope bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                    <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
                    <div class="timeline-body">
                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                        quora plaxo ideeli hulu weebly balihoo...
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">Read more</a>
                        <a class="btn btn-danger btn-xs">Delete</a>
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-user bg-aqua"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                    <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-comments bg-yellow"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
                    <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
                    <div class="timeline-body">
                        Take me to your leader!
                        Switzerland is small and neutral!
                        We are more like Germany, ambitious and misunderstood!
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline time label -->
            <li class="time-label">
                <span class="bg-red">
                    10 Feb. 2014
                </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-envelope bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                    <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
                    <div class="timeline-body">
                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                        quora plaxo ideeli hulu weebly balihoo...
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">Read more</a>
                        <a class="btn btn-danger btn-xs">Delete</a>
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-user bg-aqua"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                    <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-comments bg-yellow"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
                    <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
                    <div class="timeline-body">
                        Take me to your leader!
                        Switzerland is small and neutral!
                        We are more like Germany, ambitious and misunderstood!
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <li>
                <i class="fa fa-clock-o bg-gray"></i>
            </li>
        </ul>
    </div>
    <div class="col-sm-12 pagination">

    </div>
    <!-- /.col -->
</div>

<script>
    $(function () {
        $('.page-loader-wrapper').fadeIn();
        $('#timelineList').empty();

        loadTimeLine(1);
        $('.page-loader-wrapper').fadeOut();
    });



    $("#btnSearch").on({
        click: function () {
            $('.page-loader-wrapper').fadeIn();
            $('#timelineList').empty();
            loadTimeLine(1);
            $('.page-loader-wrapper').fadeOut();
        }
    });

    function loadTimeLine(page) {
        var keyword = $('#keyword').val();
        var ajaxurl = '@Url.Action("GetTimeLineData", "TimeLines")';
       
        $.ajax({
            url: ajaxurl,
            data: { page: page, skeyword: keyword},
            dataType: 'json',
            success: function (response) {
                var obj = response.Result.Records;
                var strTimeLineList = "";
                var envelope = ["bg-blue", "bg-gray", "bg-green"];
                for (var k in obj) {
                    var item = obj[k];
                    strTimeLineList = strTimeLineList + "<li class='time-label'>" +
                        "<span class='bg-red'>" + item.StrGroupDate + "</span>" +
                        "</li>";
                    var itemRecord = item.Records;
                    for (var j in itemRecord) {
                        var subItem = itemRecord[j];
                        var envelopeColor = "bg-blue";
                        var strurl = "";
                        if (subItem.MessageType == "@( Com.BudgetMetal.Common.Constants_CodeTable.Code_TM_Rfq)") {
                            envelopeColor = "bg-green";
                            strurl = '@Url.Action("View", "Rfq")';
                        }
                        else if (subItem.MessageType == "@( Com.BudgetMetal.Common.Constants_CodeTable.Code_TM_Quotation)") {
                            envelopeColor = "bg-grey";
                            strurl = '@Url.Action("View", "Quotation")';
                        }
                        strTimeLineList +=
                            "<li>" +
                            "<i class='fa fa-envelope " + envelopeColor + "'></i>" +
                                "<div class='timeline-item'>" +
                                    "<span class='time'><i class='fa fa-clock-o'></i>" + subItem.Time + "</span>" +
                                    "<h3 class='timeline-header'>" + subItem.UserName + " has updated.</h3>" +
                                    "<div class='timeline-body'>" + subItem.Message + "</div>" +
                                    "<div class='timeline-footer'><a href='" +strurl +"/"+ subItem.DocumentUrl + "' class='btn btn-primary btn-xs' target='_blank'>View Document</a>" +
                                "</div>"
                            "</li>";
                    }
                }
                $('#timelineList').append(strTimeLineList);
                var totalpage = response.Result.TotalPage;
                var currentpage = response.Result.CurrentPage;
                if (totalpage > currentpage) {
                    $(".pagination").empty();
                    $(".pagination").append(" <a class='btn btn-md btn-default' OnClick='loadTimeLine(" + response.Result.NextPage + ")'> Load More </a> ");
                } else {
                    $(".pagination").empty();
                }
                
            },
            error: function (response) {
                alert(response)
            }
        });
    }
</script>