@*@model ReflectionIT.Mvc.Paging.PagingList<Com.BudgetMetal.ViewModels.Company.VmCompanyPage>*@
@model Com.BudgetMetal.ViewModels.Company.VmCompanyPage
@{
    ViewData["Title"] = "Index";
}

<h2>Company</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th> Name </th>
            <th>Address</th>
            <th> Domain </th>
            <th> Registration No. </th>
            <th> About </th>
            <th> IsVerified </th>
            <th> SupplierAvgRating </th>
            <th> BuyerAvgRating </th>
            <th> AwardedQuotation </th>
            <th> SubmittedQuotation </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Result.Records)
        {
            <tr>
                <td> @item.Id </td>
                <td> @item.Name </td>
                <td> @item.Address </td>
                <td> @item.Domain </td>
                <td> @item.RegNo </td>
                <td> @item.About </td>
                <td> @item.IsVerified </td>
                <td> @item.SupplierAvgRating </td>
                <td> @item.BuyerAvgRating </td>
                <td> @item.AwardedQuotation </td>
                <td> @item.SubmittedQuotation </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-sm-12">
        <div class="pagination pull-right" style="padding:10px;">
            @{
                int currentPage = Model.Result.CurrentPage;
                int totalPage = Model.Result.TotalPage;
                int previousPage = Model.Result.PreviousPage;
                int nextPage = Model.Result.NextPage;

                int startPage = currentPage - 5;
                int endPage = currentPage + 4;

                if (startPage <= 0)
                {
                    endPage -= (startPage - 1);
                    startPage = 1;
                }
                if (endPage > totalPage)
                {
                    endPage = totalPage;
                    if (endPage > 10)
                    {
                        startPage = endPage - 9;
                    }
                }

                @if (endPage > 1)
                {
                    <ul class="pagination">
                        @if (currentPage > 1)
                        {
                            <li>
                                <a href="~/Documents">First</a>
                            </li>
                            <li>
                                <a href="?page=@(currentPage - 1)">Previous</a>
                            </li>
                        }

                        @for (int page = startPage; page <= endPage; page++)
                        {
                            <li class="@(page == currentPage ? "active" : "")">
                                <a class='btn btn-md btn-default' href="?page=@(page)"> @(page) </a>
                            </li>
                        }

                        @if (currentPage < totalPage)
                        {
                            <li>
                                <a href="?page=@(currentPage + 1)">Next</a>
                            </li>
                            <li>
                                <a href="?page=@(totalPage)">Last</a>
                            </li>
                        }
                    </ul>
                }
            }
        </div>
    </div>
</div>